.catalog {
    &__container,
    &__head,
    &__body {
        display: flex;
        flex-direction: column;
    }

    &__head {
        margin-bottom: 6rem;

        @media (max-width: 48em) {
            margin-bottom: 6.4rem;
        }
    }

    &__items {
        margin-bottom: 8.4rem;

        display: grid;
        gap: 6.4rem;
        width: 100%;

        @media (min-width: 48em) {
            margin-bottom: 7.5rem;

            grid-template-columns: repeat(4, 1fr);
            gap: 4rem;
        }
    }

    &__link-btn {
        margin: 0 auto;
    }

    &__breadcrumbs {
        margin-bottom: 2.4rem;
    }

    &__row {
        margin-bottom: 6.4rem;

        @media (min-width: 48em) {
            margin-bottom: 6rem;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__categories {
        position: relative;

        margin-bottom: 6.4rem;

        @media (min-width: 48em) {
            margin-bottom: 0;

            &::after {
                content: '';

                position: absolute;
                z-index: 1;
                top: 50%;
                right: 0;

                width: 7rem;
                height: 7rem;

                background: linear-gradient(90deg, rgba(234, 232, 230, 0) 7.28%, #eae8e6 69.12%);

                transform: translateY(-50%);
            }
        }

        @media (max-width: 48em) {
            .swiper {
                overflow: visible;
            }
        }
    }

    &__categories-slide {
        &.swiper-slide {
            width: auto;
        }
    }

    &__categories-swiper-nav {
        position: absolute;
        z-index: 2;
        top: -0.9rem;
        right: 0;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__swiper {
        &.swiper {
            width: 100%;
        }
    }
}

.sort-catalog {
    position: relative;

    ._show-categories & {
        .sort-catalog__menu {
            opacity: 1;
            visibility: visible;
            transform: none;

            @media (min-width: 48em) {
                transform: translateY(100%);
            }
        }
    }

    &__menu {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;

        padding: 4rem;

        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        background-color: $gray;

        opacity: 0;
        visibility: hidden;
        transform: translateX(110%);

        transition:
            opacity 0.7s ease,
            visibility 0.7s ease,
            transform 0.7s ease;

        @media (min-width: 48em) {
            position: absolute;
            z-index: 5;
            top: auto;
            bottom: -1.2rem;

            padding: 2.4rem;

            width: 33.5rem;
            height: auto;
            border-radius: 2rem;
            box-shadow: 1.4rem 2rem 16rem rgba(51, 52, 54, 0.18);

            background-color: $white;

            transform: translateY(100%);
        }
    }

    &__close-btn,
    &__title {
        @media (min-width: 48em) {
            display: none;
        }
    }

    &__close-btn {
        margin-bottom: 3.2rem;
        margin-left: auto;
    }

    &__close-btn-icon {
        width: 6.4rem;
        height: 6.4rem;
    }

    &__title {
        margin-bottom: 6.4rem;
    }

    &__options {
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;
        width: 100%;

        @media (max-width: 48em) {
            row-gap: 2.4rem;
        }
    }
}
