.chapter-hero {
    position: relative;

    background-color: $beige;

    @media (min-width: 48em) {
        &::after {
            content: '';

            position: absolute;
            z-index: 1;
            top: 35.6rem;
            right: -22rem;

            width: 191.4rem;
            height: 18.8rem;

            background: url('./assets/images/bg/name.svg') center / contain no-repeat;
        }
    }

    &__container {
        &.container {
            position: relative;

            padding-top: 93.6rem;
            padding-bottom: 20.8rem;

            display: flex;
            flex-direction: column;

            @media (min-width: 48em) {
                padding-top: 53.4rem;
                padding-bottom: 6rem;

                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
            }
        }
    }

    &__swiper {
        &.swiper {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;
        }
    }

    &__navigation {
        position: relative;
        z-index: 2;

        @media (max-width: 48em) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &__fraction {
        color: $gray;

        @media (min-width: 48em) {
            display: none;
        }
    }

    &__titles {
        color: $gray;

        &.swiper {
            z-index: 2;

            @media (min-width: 48em) {
                height: 30rem;
            }
        }

        @media (max-width: 48em) {
            margin-bottom: 2.4rem;
        }
    }
}

.slide-chapter-hero {
    position: relative;

    &__container {
        height: 100%;
    }

    &__images {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        width: 100%;
        height: 100%;
    }

    &__image-wrap {
        position: relative;

        &_has-bg {
            z-index: 1;

            &::after {
                content: '';

                position: absolute;
                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background: linear-gradient(0deg, rgba(26, 19, 19, 0.4), rgba(26, 19, 19, 0.4));
            }
        }

        &:not(&_has-bg) {
            .slide-chapter-hero__image {
                width: auto;
                height: 113%;

                object-fit: contain;
            }

            @media (max-width: 48em) {
                display: none;
            }
        }

        @media (min-width: 48em) {
            flex: 0 0 50%;
            width: 50%;
        }
    }

    &__image {
        height: 100%;

        object-fit: cover;
    }

    &__info {
        position: absolute;
        z-index: 2;
        top: 17.5rem;
        right: 0;

        margin-left: auto;

        display: flex;
        justify-content: flex-end;

        @media (max-width: 48em) {
            display: none;
        }
    }
}

.info-chapter-hero {
    position: relative;

    &__btn-wrap {
        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        justify-content: flex-end;
        width: 6.2rem;
        height: 6.2rem;

        @media (any-hover: hover) {
            &:hover {
                width: 45.7rem;
                height: 100%;

                + .info-chapter-hero__body {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    &__body {
        padding: 1.2rem;

        display: flex;
        align-items: center;
        column-gap: 2.1rem;
        width: 45.7rem;

        background-color: $gray;

        clip-path: url(#cl-figure-6);

        opacity: 0;
        visibility: hidden;

        transition:
            opacity 0.7s ease,
            visibility 0.7s ease;

        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__image-wrap {
        flex: 0 0 13.9rem;
        width: 13.9rem;
        height: 14.7rem;
        border-radius: 1.2rem;

        overflow: hidden;
    }

    &__image {
        height: 100%;

        object-fit: cover;
    }

    &__title {
        margin-bottom: 0.5rem;

        font-weight: 300;
        font-size: 3rem;
        line-height: 110%;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
    }

    &__subtitle {
        margin-bottom: 2rem;

        font-family: 'Lora';
        font-size: 2rem;
        line-height: 110%;
        letter-spacing: 0.3rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }
}

.price {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    &__value {
        font-weight: 500;
    }
}
