.contacts {
    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 5.6rem;

        @media (max-width: 48em) {
            row-gap: 9.6rem;
        }
    }

    &__group {
        display: flex;

        @media (max-width: 48em) {
            flex-direction: column;
            row-gap: 9.6rem;
        }
    }

    &__title {
        @media (min-width: 48em) {
            margin-right: 20rem;
        }
    }

    &__list {
        @media (min-width: 48em) {
            margin-right: 9.7rem;

            align-self: flex-end;
        }
    }

    &__images {
        @media (min-width: 48em) {
            display: flex;
            column-gap: 4rem;
        }
    }

    &__image-wrap {
        width: 40rem;
        height: 38rem;
        border-radius: 2rem;

        overflow: hidden;

        &_large {
            width: 84rem;
        }

        @media (max-width: 48em) {
            width: 100%;
            height: 63.4rem;
            border-radius: 3.2rem;

            &_large {
                display: none;
            }
        }
    }

    &__image {
        height: 100%;

        object-fit: cover;
    }
}

.list-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 2.4rem;

    @media (max-width: 48em) {
        row-gap: 3.2rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;

        @media (max-width: 48em) {
            row-gap: 1.6rem;
        }
    }

    &__subtitle {
        font-family: 'Lora';
        font-weight: 500;
        line-height: 2.3rem;
        color: rgba(0, 48, 87, 0.5);

        @media (max-width: 48em) {
            font-size: 2.8rem;
            line-height: 3.6rem;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 2rem;
        line-height: 130%;
        letter-spacing: 0.1rem;
        text-transform: uppercase;

        @media (max-width: 48em) {
            font-size: 3.2rem;
        }
    }
}

.form-contacts {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 3.2rem;

        font-size: 3rem;
        line-height: 130%;
        letter-spacing: 0.3rem;
        text-transform: uppercase;

        @media (max-width: 48em) {
            margin-bottom: 8.8rem;

            font-size: 4.8rem;
            line-height: 120%;
        }
    }

    &__fields {
        margin-bottom: 3.2rem;

        display: flex;
        flex-direction: column;
        row-gap: 4.4rem;

        @media (max-width: 48em) {
            margin-bottom: 8.8rem;

            row-gap: 6rem;
        }
    }

    &__footer {
        @media (min-width: 48em) {
            display: flex;
            align-items: center;
            column-gap: 3.2rem;
        }
    }

    &__text {
        max-width: 41.2rem;

        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;
        letter-spacing: 0.3rem;
        color: rgba(0, 48, 87, 0.5);

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__btn {
        @media (max-width: 48em) {
            align-self: flex-start;
        }
    }
}
