.filters {
    &__btn {
        &_open {
            position: fixed;
            z-index: 100;
            bottom: 7rem;
            left: 50%;

            height: 10rem;

            transform: translateX(-50%);

            @media (min-width: 48em) {
                bottom: 4rem;
                left: 10rem;

                height: 6.2rem;

                transform: none;
            }
        }

        .btn__icon {
            &_close {
                display: none;
            }

            ._show-filters & {
                display: none;

                &_close {
                    display: inline-flex;
                }
            }
        }
    }

    &__body {
        position: fixed;
        z-index: 100;
        bottom: 11.4rem;
        left: 10rem;

        padding: 4rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 62.6rem;
        max-height: 66.6rem;
        border-radius: 2rem;

        background-color: $white;

        opacity: 0;
        visibility: hidden;

        transition:
            opacity 0.7s ease,
            visibility 0.7s ease,
            transform 0.7s ease;

        &[data-simplebar] {
            position: fixed;
        }

        ._show-filters & {
            opacity: 1;
            visibility: visible;
            transform: none;
        }

        @media (max-width: 48em) {
            position: fixed;
            top: 0;
            bottom: auto;
            left: 0;

            padding: 4rem;

            width: 100%;
            height: 100%;
            max-height: none;
            border-radius: 0;

            overflow: auto;

            background-color: $gray;

            transform: translateX(110%);
        }
    }

    &__options {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;

        @media (max-width: 48em) {
            gap: 1.6rem;
        }
    }

    &__title,
    &__close-btn {
        @media (min-width: 48em) {
            display: none;
        }
    }

    &__title {
        margin-bottom: 6.4rem;
    }

    &__close-btn {
        margin-bottom: 3.2rem;
        margin-left: auto;
    }

    &__close-btn-icon {
        width: 6.4rem;
        height: 6.4rem;
    }

    &__content {
        @media (min-width: 48em) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: 100%;
        }
    }

    &__groups {
        margin-bottom: 11.2rem;

        display: flex;
        flex-direction: column;
        row-gap: 6.4rem;
        width: 100%;

        @media (min-width: 48em) {
            margin-bottom: auto;

            row-gap: 2.4rem;
        }
    }

    &__group {
        &:not(&_accordion) {
            display: flex;
            flex-direction: column;
            row-gap: 6.4rem;

            @media (min-width: 48em) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                row-gap: normal;
            }
        }
        &_accordion {
            .filters__options {
                padding-top: 1.6rem;

                .option-btn__text {
                    padding: 1rem 2.4rem;
                }

                @media (max-width: 48em) {
                    padding-top: 6.4rem;

                    .option-btn__text {
                        padding: 2.4rem 4rem;
                    }
                }
            }
        }
    }

    &__colors {
        display: flex;
        column-gap: 1.2rem;

        @media (max-width: 48em) {
            padding-bottom: 1.6rem;

            column-gap: 2.4rem;
        }

        .color__input {
            &:checked + .color__inner {
                border: 1.6px solid $blue;
            }
        }

        .color__inner {
            &[style='background-color: #ffffff'] {
                border: 1px solid #8a7d72;
            }

            @media (max-width: 48em) {
                width: 3.2rem;
                height: 3.2rem;
            }
        }
    }

    &__cards {
        padding-top: 6.4rem;

        display: grid;
        width: 100%;

        @media (min-width: 48em) {
            padding-top: 2rem;

            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 1fr;
            gap: 3rem;
        }
    }

    &__subtitle-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &._is-active {
            .filters__icon {
                transform: rotate(-180deg);
            }
        }
    }

    &__reset-btn {
        @media (min-width: 48em) {
            margin-top: 4rem;
        }
    }

    &__icon {
        flex: 0 0 3.2rem;
        width: 3.2rem;
        height: 3.2rem;

        transition: transform 0.7s ease;

        @media (max-width: 48em) {
            flex: 0 0 6.4rem;
            width: 6.4rem;
            height: 6.4rem;
        }
    }
}
