.shopify {
    &__container {
        position: relative;

        display: flex;
        flex-direction: column;

        &::after {
            content: '';

            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;

            width: 100%;
            height: 100%;

            background-color: $gray;

            transform: translateX(100%);
        }
    }

    &__swiper {
        &.swiper {
            overflow: visible;
        }
    }

    &__head {
        margin-bottom: 8rem;

        display: flex;
        align-items: flex-start;

        @media (max-width: 48em) {
            margin-bottom: 6.4rem;

            justify-content: space-between;
            flex-wrap: wrap;
            row-gap: 4rem;
        }
    }

    &__fraction {
        align-self: end;

        @media (min-width: 48em) {
            margin-right: 41.3rem;
            padding-top: 1.7rem;

            align-self: stretch;
            width: 2rem;
        }
    }

    &__title-wrap {
        margin-right: auto;
    }

    &__title-wrap,
    &__title {
        @media (max-width: 48em) {
            margin-right: 0;

            flex: 1 1 auto;
            order: -1;
            width: 100%;
        }
    }

    &__swiper-nav {
        @media (min-width: 48em) {
            align-self: flex-end;
        }
    }

    &__body {
    }

    &__title {
        display: flex;
        flex-direction: column;

        @media (min-width: 48em) {
            margin-right: auto;

            max-width: 84rem;
        }
    }

    &__title-txt {
        font-weight: 300;
        font-size: 6rem;
        line-height: 110%;
        letter-spacing: 0.3rem;
        text-transform: uppercase;

        &_solid {
            margin-left: auto;

            font-family: 'Lora';
        }

        @media (max-width: 48em) {
            font-size: 6.4rem;
            letter-spacing: 0.4rem;
            line-height: 141%;
        }
    }
}
