.footer {
    padding: 8rem 0;

    @media (max-width: 48em) {
        padding: 0 0 12.6rem 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 8rem;

        @media (max-width: 48em) {
            row-gap: 12rem;
        }
    }

    &__logo-wrap {
        width: 26rem;

        @media (max-width: 48em) {
            margin-bottom: 4.8rem;

            width: 36rem;
        }
    }

    &__main,
    &__lower {
        display: grid;
        width: 100%;

        @media (min-width: 48em) {
            grid-template-columns: 3fr 6fr 3fr;
        }
    }

    &__socials {
        @media (max-width: 48em) {
            margin-bottom: 6.4rem;
        }
    }

    &__nav {
        margin-bottom: 5.6rem;

        display: grid;
        width: 100%;

        @media (min-width: 48em) {
            margin-bottom: 0;

            grid-template-columns: repeat(3, 18rem);
            column-gap: 4rem;
            row-gap: 1rem;
        }
    }

    &__nav-link {
        font-weight: 500;

        @media (max-width: 48em) {
            margin-bottom: 2.4rem;

            &:nth-child(3n) {
                margin-bottom: 6.4rem;
            }
        }
    }

    &__contacts-list {
        @media (min-width: 48em) {
            justify-self: end;
        }
    }

    &__lower {
        @media (min-width: 48em) {
            align-items: center;
        }
    }

    &__copyrights {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 0.8rem;

        @media (max-width: 48em) {
            margin-bottom: 6.4rem;

            row-gap: 1.6rem;
        }
    }

    &__copyrights-txt {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 140%;
        color: rgba(0, 48, 87, 0.5);

        @media (max-width: 48em) {
            font-size: 2.8rem;
        }
    }

    &__rd-logo-wrap {
        width: 34rem;

        @media (min-width: 48em) {
            justify-self: end;
            width: 18.4rem;
        }
    }
}

.socials-footer {
    display: flex;
    column-gap: 1.2rem;

    @media (max-width: 48em) {
        column-gap: 2.4rem;
    }
}
