.i-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 1.6rem;

  background-color: $blue;

  transition: background-color 0.3s ease;

  svg {
    height: 3.2rem;
    width: 3.2rem;

    color: $white;

    transition: color 0.3s ease;
  }

  @media (max-width: 48em) {
    width: 8rem;
    height: 8rem;
    border-radius: 2rem;

    svg {
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: $white;

      svg {
        color: $blue;
      }
    }
  }
}

.btn {
  &_primary {
    padding: 1.6rem 3rem;

    display: inline-flex;
    border-radius: 1.6rem;

    background-color: $green;

    transition: background-color 0.3s ease;

    &._is-disabled {
      background-color: #0030571a;

      .btn__txt {
        color: #00305780;
      }
    }

    .btn__txt {
      font-weight: 500;
      line-height: 140%;
      text-align: center;

      transition: color 0.3s ease;
    }

    @media (any-hover: hover) {
      &:not(&._is-disabled):hover {
        background-color: $blue;

        .btn__txt {
          color: $white;
        }

        svg {
          color: $white;
        }
      }
    }

    @media (max-width: 48em) {
      padding: 2.4rem 6rem;

      border-radius: 2.4rem;

      .btn__txt {
        line-height: 4rem;
      }

      &_i {
        padding: 0;

        width: 10.2rem;
        height: 10.2rem;

        svg {
          width: 4.8rem;
          height: 4.8rem;
        }
      }
    }

    &_i {
      padding: 0;

      align-items: center;
      justify-content: center;
      width: 6.2rem;
      height: 6.2rem;

      svg {
        width: 3.2rem;
        height: 3.2rem;

        color: $blue;

        transition: color 0.3s ease;
      }

      &._is-disabled {
        svg {
          color: #334d64;
        }
      }
    }
  }
  &_secondary {
    --opacity: 0.7;

    position: relative;

    padding-bottom: 0.8rem;

    line-height: 2.5rem;
    font-weight: 500;

    opacity: var(--opacity);

    transition: opacity 0.3s ease;

    &._is-disabled {
      --opacity: 0.3;
    }

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $blue;

      opacity: var(--opacity);

      transition: opacity 0.3s ease;
    }

    @media (any-hover: hover) {
      &:not(&._is-disabled):hover {
        --opacity: 1;
      }
    }
  }
  &_i {
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;

    opacity: 0.7;

    transition: opacity 0.3s ease;

    .btn__txt {
      font-weight: 500;
      line-height: 140%;
      text-align: center;
    }

    svg {
      flex: 0 0 3.2rem;
      width: 3.2rem;
      height: 3.2rem;
    }

    &._is-disabled {
      opacity: 0.3;
    }

    @media (any-hover: hover) {
      &:not(&._is-disabled):hover {
        opacity: 1;
      }
    }

    @media (max-width: 48em) {
      column-gap: 2rem;

      .btn__txt {
        line-height: 4rem;
      }

      svg {
        flex: 0 0 4.8rem;
        width: 4.8rem;
        height: 4.8rem;
      }
    }
  }
}
