.category-card {
    position: relative;

    &::after {
        content: '';

        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: $white;

        clip-path: url(#cl-figure-5);
    }

    &__inner {
        padding: 4rem 3.2rem 3.2rem 3.2rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 61.5rem;

        @media (max-width: 48em) {
            padding: 6.6rem 3.8rem 8rem 3.8rem;

            min-height: 103.2rem;
        }
    }

    &__num {
        margin-bottom: 8rem;

        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.8rem;
        text-align: center;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        color: rgba(0, 48, 87, 0.3);

        @media (max-width: 48em) {
            margin-bottom: 12rem;

            font-size: 3.2rem;
            line-height: 4rem;
        }
    }

    &__image-wrap {
        position: relative;

        margin-bottom: auto;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30rem;

        @media (max-width: 48em) {
            height: 48rem;
        }
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        opacity: 0;

        transition: opacity 0.3s ease;

        &._is-active {
            opacity: 1;
        }
    }

    &__title-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        width: 100%;

        letter-spacing: 0.3rem;

        @media (max-width: 48em) {
            row-gap: 0.8rem;
        }
    }

    &__title {
        font-weight: 300;
        font-size: 3rem;
        text-transform: uppercase;
        line-height: 110%;

        @media (max-width: 48em) {
            font-size: 4.8rem;
        }
    }

    &__subtitle {
        font-family: 'Lora';
        font-size: 2rem;
        line-height: 110%;

        @media (max-width: 48em) {
            font-size: 3.2rem;
        }
    }

    &__btn {
        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 0;
    }

    &__tiles {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        width: 100%;
        height: 100%;

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__tile {
        flex: 1 1 auto;
    }
}
