.fraction {
    font-family: 'Lora';
    font-weight: 500;
    font-size: 4rem;
    line-height: 5.2rem;
    text-transform: uppercase;
    color: rgba(0, 48, 87, 0.5);

    @media (min-width: 48em) {
        font-size: 2rem;
        line-height: 2.6rem;
    }
}
