.rating {
    display: flex;
    column-gap: 0.55rem;

    @media (max-width: 48em) {
        column-gap: 0.8rem;
    }

    &__item,
    &__icon {
        flex: 0 0 1.8rem;
        width: 1.8rem;
        height: 1.8rem;

        @media (max-width: 48em) {
            flex: 0 0 3.6rem;
            width: 3.6rem;
            height: 3.6rem;
        }
    }
}
