body::after {
    content: '';
    position: fixed;
    z-index: 600;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1.6rem);

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.8s ease 0s;

    .modal-show & {
        opacity: 1;
    }

    @media (max-width: 48em) {
        backdrop-filter: blur(3.2rem);
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    visibility: hidden;
    pointer-events: none;

    transition: visibility 0.8s ease 0s;

    &_edit-address {
        .modal {
            &__content {
                max-width: 117.4rem;
            }
            &__close {
                top: 3.3rem;
                right: 3.6rem;
            }
        }
        @media (max-width: 48em) {
            display: none;
        }
    }

    &_fw {
        .modal {
            &__content {
                max-width: 88rem;

                @media (max-width: 48em) {
                    max-width: none;
                    border-radius: 0;
                }
            }
            &__body {
                padding: 6rem;

                @media (max-width: 48em) {
                    padding: 24rem 4rem 8rem 4rem;
                }
            }
            &__close {
                @media (max-width: 48em) {
                    top: 4rem;
                    right: 4rem;
                }
            }
        }
    }

    &.modal_show {
        z-index: 601;

        visibility: visible;
        overflow: auto;

        pointer-events: auto;

        .modal__content {
            visibility: visible;

            transform: scale(1);
        }
    }

    @media (min-width: 48em) {
        padding: 3rem 2.4rem;
    }

    // .modal__wrapper

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;

        width: 100%;
        min-height: 100%;
    }

    // .modal__content

    &__content {
        position: relative;

        width: 100%;
        max-width: 62.6rem;
        border-radius: 3.2rem;

        background-color: $gray;

        visibility: hidden;

        transform: scale(0);

        transition: transform 0.3s ease 0s;

        .lock & {
            visibility: visible;
        }

        @media (min-width: 48em) {
            border-radius: 2rem;

            background-color: $white;
        }
    }

    &__body {
        position: relative;

        padding: 6rem 6rem 7rem 6rem;

        @media (max-width: 48em) {
            padding: 9.6rem 3.6rem 3.2rem 3.6rem;
        }
    }

    &__close {
        position: absolute;
        z-index: 3;
        top: 2rem;
        right: 2rem;

        @media (max-width: 48em) {
            top: 1.6rem;
            right: 1.6rem;
        }
    }

    &__close-icon {
        width: 3.2rem;
        height: 3.2rem;

        @media (max-width: 48em) {
            width: 6.4rem;
            height: 6.4rem;
        }
    }

    &__inner {
        position: relative;
        z-index: 2;
    }
}

.feedback-modal {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 5.2rem;

        font-size: 3rem;
        line-height: 110%;
        letter-spacing: 0.3rem;
        text-transform: uppercase;

        @media (max-width: 48em) {
            margin-bottom: 12rem;

            font-size: 4.8rem;
            line-height: 120%;
        }
    }

    &__fields {
        margin-bottom: 6.4rem;

        display: grid;
        row-gap: 8.8rem;
        width: 100%;

        @media (min-width: 48em) {
            margin-bottom: 4rem;

            grid-template-columns: repeat(2, 1fr);
            column-gap: 4rem;
            row-gap: 5.2rem;
        }
    }

    &__field {
        @media (min-width: 48em) {
            &_large {
                grid-column: span 2;
            }
        }
    }

    &__group {
        margin-bottom: 4rem;

        display: flex;
        flex-direction: column;
        row-gap: 2.4rem;

        @media (max-width: 48em) {
            margin-bottom: 9.6rem;
        }
    }

    &__subtitle {
        font-weight: 500;
        color: rgba(0, 48, 87, 0.5);
    }

    &__colors {
        display: flex;
        gap: 3.2rem;
        flex-wrap: wrap;

        @media (min-width: 48em) {
            padding-bottom: 1.7rem;

            gap: 1.2rem;
        }
    }

    &__sizes {
        display: flex;
        gap: 0.8rem;
        flex-wrap: wrap;

        @media (max-width: 48em) {
            gap: 1.6rem;
        }
    }

    &__size {
        position: relative;
    }

    &__size-input {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        appearance: none;

        &:checked + .feedback-modal__size-txt {
            border: 1px solid $blue;

            color: $blue;
        }
    }

    &__size-txt {
        padding: 1.2rem 2rem;

        display: inline-flex;
        align-items: center;
        border: 1px solid #c2cdd7;
        border-radius: 1.2rem;

        color: #c2cdd7;

        transition: border 1s ease, color 1s ease;

        @media (max-width: 48em) {
            padding: 2.4rem 4rem;

            border-radius: 2.4rem;
        }
    }

    &__footer {
        margin-top: 9.6rem;

        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;

        @media (min-width: 48em) {
            margin-top: 5.2rem;

            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__text {
        margin-bottom: 6.4rem;

        font-size: 2.8rem;
        line-height: 3.6rem;
        font-weight: 500;
        letter-spacing: 0.2rem;
        color: rgba(0, 48, 87, 0.5);

        @media (min-width: 48em) {
            margin-bottom: 0;

            max-width: 35.2rem;

            font-size: 1.4rem;
            line-height: 1.7rem;
            letter-spacing: 0.05rem;
        }
    }
}

.info-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;

    &__link {
        margin-bottom: 6rem;
    }

    &__title {
        margin-bottom: 3.2rem;

        @media (max-width: 48em) {
            margin-bottom: 4.8rem;
        }
    }

    &__text {
        margin-bottom: 6rem;

        color: #00305780;

        @media (max-width: 48em) {
            margin-bottom: 6.4rem;
        }
    }

    &__btn {
        width: 100%;
    }

    // .form-sent-modal__label

    &__label {
        cursor: pointer;
        width: 100%;
    }

    &__input-file {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
    }
}

.modal_change {
    // .modal_change__inner

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 4.6rem;
    }

    // .modal_change__title-box

    &__title-box {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
    }

    // .modal_change__title

    &__title {
    }

    // .modal_change__text

    &__text {
        color: rgba(0, 48, 87, 0.5);
        @media (max-width: 48em) {
            font-size: 2.8rem;
            letter-spacing: -0.05rem;
            & br {
                display: none;
            }
        }
    }

    // .modal_change__form

    &__form {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    // .modal_change__fields

    &__fields {
    }

    // .modal_change__field

    &__field {
    }

    // .modal_change__btn

    &__btn {
    }
}

.color {
    position: relative;

    &__input {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        appearance: none;

        &:checked + .color__inner {
            border: 1px solid #8a7d72;
        }
    }

    &__inner {
        display: block;

        width: 1.6rem;
        height: 1.6rem;
        border: 1px solid transparent;
        border-radius: 50%;

        transition: border 1s ease;

        @media (max-width: 48em) {
            width: 6.4rem;
            height: 6.4rem;
        }
    }
}

.edit-address-modal {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 3.2rem;
    }

    &__fields {
        margin-bottom: 6rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: end;
        column-gap: 4rem;
        row-gap: 5.2rem;
    }

    &__fields-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
        grid-column: span 2;
    }

    &__btn {
        align-self: flex-start;
        min-width: 50.6rem;
    }
}

.modal_code {
    // .modal_code__inner

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        @media (max-width: 48em) {
            gap: 4.8rem;
        }
    }

    // .modal_code__title-box

    &__title-box {
        display: flex;
        flex-direction: column;
        gap: 3.2rem;
        @media (max-width: 48em) {
            gap: 4rem;
        }
    }

    // .modal_code__title

    &__title {
    }

    // .modal_code__text-box

    &__text-box {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        @media (max-width: 48em) {
            gap: 4rem;
        }
    }

    // .modal_code__text

    &__text {
        @media (max-width: 48em) {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 140%;
            color: rgba(0, 48, 87, 0.5);
        }
    }

    // .modal_code__link

    &__link {
        width: fit-content;
        @media (max-width: 48em) {
            font-weight: 500;
        }
    }

    // .modal_code__form

    &__form {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        @media (max-width: 48em) {
            gap: 4rem;
        }
    }

    // .modal_code__fields

    &__fields {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        width: fit-content;
        position: relative;

        padding-bottom: 2.2rem;
        @media (max-width: 48em) {
            justify-content: space-between;
        }
    }

    // .modal_code__field

    &__field {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;

        &.input {
            padding: 0;
            border: none !important;
            &._has-error {
                border: none !important;
                & .popup__fields-num {
                    border: 0.1rem solid red;
                    @media (max-width: 48em) {
                        border: 0.2rem solid $red;
                    }
                }
            }
            & .popup__fields-num {
                width: 6rem;
                height: 8rem;
                border-radius: 0.8rem;
                border: 0.1rem solid rgba(0, 48, 87, 0.3);
                text-align: center;
                font-size: 3rem;
                padding: 0;
                transition: border 0.5s;
                &:focus {
                    border: 0.1rem solid $blue;
                    @media (max-width: 48em) {
                        border: 0.2rem solid $blue;
                    }
                }
                @media (max-width: 48em) {
                    font-size: 6rem;
                    width: 12rem;
                    height: 16rem;
                    border: 0.2rem solid rgba(0, 48, 87, 0.3);
                    border-radius: 1.6rem;
                }
            }
        }
    }
    &__field-error {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        bottom: -0.5rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 137%;
        text-align: center;
        color: #eb5749;
        opacity: 0;
        transition: opacity 0.5s;
        &.isActive {
            opacity: 1;
        }
    }
    // .modal_code__btn-box

    &__btn-box {
        display: flex;
        flex-direction: column;
        gap: 2.8rem;
        @media (max-width: 48em) {
            gap: 4.8rem;
        }
    }

    // .modal_code__btn

    &__btn {
        width: 100%;
        @media (max-width: 48em) {
            font-size: 2.6rem;
            padding: 2.4rem 3rem;
        }
    }
}

.no-code-modal {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    // .no-code-modal__title

    &__title {
    }

    // .no-code-modal__text-wrapper

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }

    // .no-code-modal__text

    &__text {
        font-weight: 500;
        font-size: 1.6rem;
        @media (max-width: 48em) {
            font-size: 2.8rem;
            line-height: 140%;
        }
    }

    // .no-code-modal__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 50.6rem;
        @media (max-width: 48em) {
            width: 100%;
        }
    }

    // .no-code-modal__item

    &__item {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
    }

    // .no-code-modal__num

    &__num {
        font-size: 1.6rem;
        @media (max-width: 48em) {
            font-size: 2.8rem;
            line-height: 140%;
        }
    }

    // .no-code-modal__desc

    &__desc {
        font-size: 1.6rem;
        span {
            color: $blue;
        }
        font-weight: 400;
        color: rgba(0, 48, 87, 0.5);
        @media (max-width: 48em) {
            font-size: 2.8rem;
            line-height: 140%;
        }
    }
}

.login-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
    line-height: 140%;
    @media (max-width: 48em) {
        align-items: flex-start;
        text-align: left;
    }
    // .login-modal__text

    &__text {
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 140%;
        @media (max-width: 48em) {
            font-size: 2.8rem;
        }
    }

    // .login-modal__btn

    &__btn {
        @media (max-width: 48em) {
            font-size: 2.6rem;
        }
    }
}

.modal_viewing-images {
    .modal__content {
        max-width: none;
        background-color: transparent;
    }

    .modal__body {
        position: relative;
    }

    .modal__close {
        top: 4rem;
        right: 12.3rem;
    }

    .viewing-swiper {
        &.swiper {
            height: 82rem;
            width: 139.4rem;
        }

        .swiper-slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &-active,
            &-prev {
                .viewing-swiper__slide-img {
                    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
                }
            }
        }

        &__navigation {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 168rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 10;
        }

        &__left-btn,
        &__right-btn {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 6.2rem;
            height: 6.2rem;
            background-color: $white;
            border-radius: 1.6rem;

            svg {
                width: 3.2rem;
                height: 3.2rem;
            }
        }

        &__slide-img {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
            transition: clip-path 1s ease;
            background-color: #cccccc;

            &--wrapper {
                border-radius: 2rem;
                overflow: hidden;

                &.vertical {
                    height: 100%;
                    width: 61.2rem;
                }

                &.horizontal {
                    width: 139.4rem;
                    height: 75.7rem;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__slide-video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    @media (max-width: 48em) {
        .modal__close {
            top: 2rem;
            right: 2rem;
        }

        .viewing-swiper {
            &.swiper {
                width: 67rem;
                height: 80.2rem;
            }

            &__navigation {
                top: calc(100% + 12rem);
                left: 50%;
                transform: translate(-50%, 0);
                width: 67rem;
            }

            &__left-btn,
            &__right-btn {
                width: 10.2rem;
                height: 10.2rem;
                border-radius: 2.4rem;

                svg {
                    width: 4.8rem;
                    height: 4.8rem;
                }
            }

            &__slide-img {
                &--wrapper {
                    border-radius: 2.4rem;

                    &.vertical {
                        height: 100%;
                        width: 100%;
                    }

                    &.horizontal {
                        width: 100%;
                        height: 44.8rem;
                    }
                }
            }
        }
    }
}
