<section id="aboutSection" class="about">
    <div class="about__container container">
        <div class="about__body">
            <div class="about__group">
                <span class="about__subtitle">о компании simple choice</span>
                <div class="about__video">
                    <button type="button" class="about__video-btn">
                        <svg class="about__video-btn-icon">
                            <use href="#play-svg"></use>
                        </svg>
                        <span class="about__video-btn-txt">видео о нас</span>
                    </button>
                    <span class="about__video-duration">(3:34)</span>
                </div>
                <span data-da=".about__footer,768,first" class="about__title"
                    >с заботой и любовью для ваших детей</span
                >
                <span data-da=".about__body,768,last" class="about__cursive decorate">Simple choice</span>
            </div>
            <div class="about__image-wrap">
                <img
                    class="about__image"
                    src="./assets/images/content/ebb2366a1aeef24257b7daf42e6c343d.webp"
                    alt=""
                />
            </div>
            <div class="about__footer">
                <p data-da=".about__group,768,2" class="about__text">
                    Мы используем только высококачественные материалы, обращаем внимание на детали и всегда в
                    первую очередь думаем об удобстве и здоровье малыша!
                </p>
                <div class="about__swiper-nav swiper-nav">
                    <button type="button" class="swiper-nav__arr swiper-nav__arr_prev">
                        <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                    </button>
                    <button type="button" class="swiper-nav__arr swiper-nav__arr_next">
                        <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="about__carousel">
            <div class="about__swiper swiper">
                <ul class="about__swiper-wrapper swiper-wrapper">
                    <li class="about__slide slide-about swiper-slide">
                        <div class="slide-about__image-wrap">
                            <img
                                class="slide-about__image"
                                src="./assets/images/bg/c9e387da34c476aa0585de10377bae80.webp"
                                alt=""
                            />
                        </div>
                    </li>
                    <li class="about__slide slide-about swiper-slide">
                        <div class="slide-about__image-wrap">
                            <img
                                class="slide-about__image"
                                src="./assets/images/bg/b56c37e7017820d9aae19cd84ce4795a.webp"
                                alt=""
                            />
                        </div>
                    </li>
                </ul>
            </div>
            <div class="about__carousel-content">
                <span class="about__fraction"></span>
                <div class="about__titles-swiper swiper">
                    <ul class="about__titles-swiper-wrapper swiper-wrapper">
                        <li class="about__titles-slide titles-slide-about swiper-slide">
                            <span class="titles-slide-about__title">
                                <span class="titles-slide-about__title-txt">современное</span>
                                <span class="titles-slide-about__title-txt h_lora">производство</span>
                            </span>
                        </li>
                        <li class="about__titles-slide titles-slide-about swiper-slide">
                            <span class="titles-slide-about__title">
                                <span class="titles-slide-about__title-txt">доставка по</span>
                                <span class="titles-slide-about__title-txt h_lora">всему миру</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <p class="about__carousel-text">
                    Собственное научно-техническое бюро по разработке конструктивных решений
                </p>
            </div>
        </div>
    </div>
</section>
