<section class="about-hero dark-bg">
    <div class="about-hero__container container">
        <div class="catalog__breadcrumbs breadcrumbs">
            <a href="#" class="breadcrumbs__txt breadcrumbs__txt_link">Главная</a>
            <span class="breadcrumbs__txt">О нас</span>
        </div>
        <div class="about-hero__body">
            <div class="about-hero__content">
                <span class="about-hero__heading h h_h1">О нашей компании</span>
                <div class="about-hero__row">
                    <div class="about-hero__group group-about-hero">
                        <p class="group-about-hero__text">
                            <span class="group-about-hero__text-content txt20">
                                Наша главная идея -сделать детство ярче, комфортнее и стильнее
                            </span>
                        </p>
                        <div class="group-about-hero__numbers">
                            <span class="group-about-hero__number">500</span>
                            <span class="group-about-hero__subtitle">стильных образов</span>
                        </div>
                    </div>
                    <div class="about-hero__image-wrap">
                        <img
                            class="about-hero__image"
                            src="./assets/images/content/ebb2366a1aeef24257b7daf42e6c343d.webp"
                            alt=""
                        />
                    </div>
                </div>
            </div>
            <button type="button" data-anchor="#fw-text" class="about-hero__anchor anchor-about-hero">
                <span class="anchor-about-hero__text">
                    Погрузитесь в мир ярких красок и модных тенденций вместе с нашей коллекцией детской
                    одежды.
                </span>
                <svg class="anchor-about-hero__icon"><use href="#down-arr-svg"></use></svg>
            </button>
        </div>
    </div>
    <div class="about-hero__bg-wrap">
        <img class="about-hero__bg" src="./assets/images/bg/desktop_8@2x.webp" alt="" />
    </div>
</section>
