<section class="cart">
    <div class="cart__container container">
        <div class="cart__head">
            <div class="cart__row">
                <span class="cart__title">Корзина</span>
                <span class="cart__quantity">2 товара</span>
            </div>
            <div class="cart__actions">
                <div class="cart__select-all option option_checkbox">
                    <input type="checkbox" class="option__input" />
                    <span class="option__txt">Выбрать все</span>
                </div>
                <button type="button" class="cart__remove-btn btn btn_i">
                    <svg class="btn__icon"><use href="#trash-svg"></use></svg>
                    <span class="btn__txt"
                        ><span class="_desktop-only">Удалить выбранные</span
                        ><span class="_mobile-only">Удалить</span></span
                    >
                </button>
            </div>
        </div>
        <div class="cart__body">
            <div class="cart__items-wrap">
                <div class="cart__items">
                    <div data-accordion class="cart__item cart-item">
                        <div class="cart-item__content">
                            <div class="cart-item__checkbox option option_checkbox">
                                <input type="checkbox" class="option__input" />
                                <span class="option__txt"
                                    ><span class="_mobile-only">СТРЕЙЧЕВЫЙ ПИДЖАК</span></span
                                >
                            </div>
                            <div class="cart-item__info">
                                <a href="#" class="cart-item__image-wrap">
                                    <img
                                        class="cart-item__image"
                                        src="./assets/images/items/01608508450-e1.webp"
                                        alt=""
                                    />
                                </a>
                                <div class="cart-item__info-content">
                                    <a href="#" class="cart-item__subtitle h h_h3 _desktop-only"
                                        >СТРЕЙЧЕВЫЙ ПИДЖАК</a
                                    >
                                    <span class="cart-item__code">Арт. GNM145007</span>
                                    <ul class="cart-item__characteristics">
                                        <li class="cart-item__characteristic characteristic-cart-item">
                                            <span class="characteristic-cart-item__label">Цвет:</span>
                                            <span class="characteristic-cart-item__text">
                                                <span
                                                    style="background-color: #c69259"
                                                    class="characteristic-cart-item__color"
                                                ></span>
                                                <span class="characteristic-cart-item__text-content"
                                                    >Бежевый</span
                                                >
                                            </span>
                                        </li>
                                        <li class="cart-item__characteristic characteristic-cart-item">
                                            <span class="characteristic-cart-item__label">Размер:</span>
                                            <span class="characteristic-cart-item__text">
                                                <span class="characteristic-cart-item__text-content"
                                                    >124</span
                                                >
                                            </span>
                                        </li>
                                    </ul>
                                    <span class="cart-item__price price price_cart">
                                        <span class="price__value">140 000</span>
                                        <span class="price__symbol">₽</span>
                                    </span>
                                </div>
                                <div class="cart-item__actions">
                                    <div class="cart-item__quantity quantity">
                                        <button
                                            class="quantity__count quantity__count_minus"
                                            data-action="minus"
                                            type="button"
                                        >
                                            <svg class="quantity__count-icon">
                                                <use href="#minus-svg"></use>
                                            </svg>
                                        </button>
                                        <input class="quantity__input" type="number" min="0" value="1" />
                                        <button
                                            class="quantity__count quantity__count_add"
                                            data-action="add"
                                            type="button"
                                        >
                                            <svg class="quantity__count-icon">
                                                <use href="#plus-svg"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="cart-item__actions-group">
                                        <button class="cart-item__btn btn btn_i">
                                            <span class="btn__txt">В избранное</span>
                                            <svg class="btn__icon"><use href="#heart-svg"></use></svg>
                                        </button>
                                        <button class="cart-item__btn btn btn_i">
                                            <span class="btn__txt">Удалить</span>
                                            <svg class="btn__icon"><use href="#trash-svg"></use></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="cart-item__get-back-link link link_left">
                            <svg class="link__icon"><use href="#arr-left-svg"></use></svg>
                            <span class="link__txt">Назад к товару</span>
                        </a>
                        <div class="cart-item__accordion-item accordion-cart-item">
                            <button data-accordion-item type="button" class="accordion-cart-item__title">
                                <span class="accordion-cart-item__title-txt">Дополните образ</span>
                                <svg class="accordion-cart-item__icon"><use href="#arr-sel-svg"></use></svg>
                            </button>
                            <div class="accordion-cart-item__body">
                                <div class="accordion-cart-item__swiper swiper">
                                    <ul class="accordion-cart-item__swiper-wrapper swiper-wrapper">
                                        <li class="accordion-cart-item__slide cart-card swiper-slide">
                                            <a href="#" class="cart-card__inner">
                                                <div class="cart-card__image-wrap">
                                                    <img
                                                        class="cart-card__image"
                                                        src="./assets/images/items/710070.932x1242@2x.webp"
                                                        alt=""
                                                    />
                                                </div>
                                                <span class="cart-card__title txt20">Джемпер</span>
                                                <span class="cart-card__subtitle">укороченный</span>
                                                <div class="cart-card__price price">
                                                    <span class="price__value">2 500</span>₽
                                                </div>
                                            </a>
                                            <button
                                                type="button"
                                                class="cart-card__btn btn btn_primary btn_primary_i"
                                            >
                                                <svg class="btn__icon"><use href="#cart-svg"></use></svg>
                                            </button>
                                        </li>

                                        <li class="accordion-cart-item__slide cart-card swiper-slide">
                                            <a href="#" class="cart-card__inner">
                                                <div class="cart-card__image-wrap">
                                                    <img
                                                        class="cart-card__image"
                                                        src="./assets/images/items/710070.932x1242@2x.webp"
                                                        alt=""
                                                    />
                                                </div>
                                                <span class="cart-card__title txt20">Джемпер</span>
                                                <span class="cart-card__subtitle">укороченный</span>
                                                <div class="cart-card__price price">
                                                    <span class="price__value">2 500</span>₽
                                                </div>
                                            </a>
                                            <button
                                                type="button"
                                                class="cart-card__btn btn btn_primary btn_primary_i"
                                            >
                                                <svg class="btn__icon"><use href="#cart-svg"></use></svg>
                                            </button>
                                        </li>

                                        <li class="accordion-cart-item__slide cart-card swiper-slide">
                                            <a href="#" class="cart-card__inner">
                                                <div class="cart-card__image-wrap">
                                                    <img
                                                        class="cart-card__image"
                                                        src="./assets/images/items/710070.932x1242@2x.webp"
                                                        alt=""
                                                    />
                                                </div>
                                                <span class="cart-card__title txt20">Джемпер</span>
                                                <span class="cart-card__subtitle">укороченный</span>
                                                <div class="cart-card__price price">
                                                    <span class="price__value">2 500</span>₽
                                                </div>
                                            </a>
                                            <button
                                                type="button"
                                                class="cart-card__btn btn btn_primary btn_primary_i"
                                            >
                                                <svg class="btn__icon"><use href="#cart-svg"></use></svg>
                                            </button>
                                        </li>

                                        <li class="accordion-cart-item__slide cart-card swiper-slide">
                                            <a href="#" class="cart-card__inner">
                                                <div class="cart-card__image-wrap">
                                                    <img
                                                        class="cart-card__image"
                                                        src="./assets/images/items/710070.932x1242@2x.webp"
                                                        alt=""
                                                    />
                                                </div>
                                                <span class="cart-card__title txt20">Джемпер</span>
                                                <span class="cart-card__subtitle">укороченный</span>
                                                <div class="cart-card__price price">
                                                    <span class="price__value">2 500</span>₽
                                                </div>
                                            </a>
                                            <button
                                                type="button"
                                                class="cart-card__btn btn btn_primary btn_primary_i"
                                            >
                                                <svg class="btn__icon"><use href="#cart-svg"></use></svg>
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="accordion-cart-item__swiper-nav swiper-nav">
                                        <button type="button" class="swiper-nav__arr swiper-nav__arr_prev">
                                            <svg class="swiper-nav__arr-icon">
                                                <use href="#arr-left-svg"></use>
                                            </svg>
                                        </button>
                                        <button type="button" class="swiper-nav__arr swiper-nav__arr_next">
                                            <svg class="swiper-nav__arr-icon">
                                                <use href="#arr-left-svg"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-accordion class="cart__item cart-item">
                        <div class="cart-item__content">
                            <div class="cart-item__checkbox option option_checkbox">
                                <input type="checkbox" class="option__input" />
                                <span class="option__txt"
                                    ><span class="_mobile-only">Платье с перьями</span></span
                                >
                            </div>
                            <div class="cart-item__info">
                                <a href="#" class="cart-item__image-wrap">
                                    <img
                                        class="cart-item__image"
                                        src="./assets/images/items/707164.932x1242@2x.webp"
                                        alt=""
                                    />
                                </a>
                                <div class="cart-item__info-content">
                                    <a href="#" class="cart-item__subtitle h h_h3">Платье с перьями</a>
                                    <span class="cart-item__code">Арт. GNM145007</span>
                                    <ul class="cart-item__characteristics">
                                        <li class="cart-item__characteristic characteristic-cart-item">
                                            <span class="characteristic-cart-item__label">Цвет:</span>
                                            <span class="characteristic-cart-item__text">
                                                <span
                                                    style="background-color: #e7c1b7"
                                                    class="characteristic-cart-item__color"
                                                ></span>
                                                <span class="characteristic-cart-item__text-content"
                                                    >Розовый</span
                                                >
                                            </span>
                                        </li>
                                        <li class="cart-item__characteristic characteristic-cart-item">
                                            <span class="characteristic-cart-item__label">Размер:</span>
                                            <span class="characteristic-cart-item__text">
                                                <span class="characteristic-cart-item__text-content"
                                                    >124</span
                                                >
                                            </span>
                                        </li>
                                    </ul>
                                    <span class="cart-item__price price price_cart">
                                        <span class="price__value">140 000</span>
                                        <span class="price__symbol">₽</span>
                                    </span>
                                </div>
                                <div class="cart-item__actions">
                                    <div class="cart-item__quantity quantity">
                                        <button
                                            class="quantity__count quantity__count_minus"
                                            data-action="minus"
                                            type="button"
                                        >
                                            <svg class="quantity__count-icon">
                                                <use href="#minus-svg"></use>
                                            </svg>
                                        </button>
                                        <input
                                            class="quantity__input"
                                            type="number"
                                            min="0"
                                            max="10"
                                            value="1"
                                        />
                                        <button
                                            class="quantity__count quantity__count_add"
                                            data-action="add"
                                            type="button"
                                        >
                                            <svg class="quantity__count-icon">
                                                <use href="#plus-svg"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="cart-item__actions-group">
                                        <button class="cart-item__btn btn btn_i">
                                            <span class="btn__txt">В избранное</span>
                                            <svg class="btn__icon"><use href="#heart-svg"></use></svg>
                                        </button>
                                        <button class="cart-item__btn btn btn_i">
                                            <span class="btn__txt">Удалить</span>
                                            <svg class="btn__icon"><use href="#trash-svg"></use></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="cart-item__get-back-link link link_left">
                            <svg class="link__icon"><use href="#arr-left-svg"></use></svg>
                            <span class="link__txt">Назад к товару</span>
                        </a>
                        <div class="cart-item__accordion-item accordion-cart-item">
                            <button data-accordion-item type="button" class="accordion-cart-item__title">
                                <span class="accordion-cart-item__title-txt">Дополните образ</span>
                                <svg class="accordion-cart-item__icon"><use href="#arr-sel-svg"></use></svg>
                            </button>
                            <div class="accordion-cart-item__body">
                                <div class="accordion-cart-item__swiper swiper">
                                    <ul class="accordion-cart-item__swiper-wrapper swiper-wrapper">
                                        <li class="accordion-cart-item__slide cart-card swiper-slide">
                                            <a href="#" class="cart-card__inner">
                                                <div class="cart-card__image-wrap">
                                                    <img
                                                        class="cart-card__image"
                                                        src="./assets/images/items/710070.932x1242@2x.webp"
                                                        alt=""
                                                    />
                                                </div>
                                                <span class="cart-card__title txt20">Джемпер</span>
                                                <span class="cart-card__subtitle">укороченный</span>
                                                <div class="cart-card__price price">
                                                    <span class="price__value">2 500</span>₽
                                                </div>
                                            </a>
                                            <button
                                                type="button"
                                                class="cart-card__btn btn btn_primary btn_primary_i"
                                            >
                                                <svg class="btn__icon"><use href="#cart-svg"></use></svg>
                                            </button>
                                        </li>

                                        <li class="accordion-cart-item__slide cart-card swiper-slide">
                                            <a href="#" class="cart-card__inner">
                                                <div class="cart-card__image-wrap">
                                                    <img
                                                        class="cart-card__image"
                                                        src="./assets/images/items/710070.932x1242@2x.webp"
                                                        alt=""
                                                    />
                                                </div>
                                                <span class="cart-card__title txt20">Джемпер</span>
                                                <span class="cart-card__subtitle">укороченный</span>
                                                <div class="cart-card__price price">
                                                    <span class="price__value">2 500</span>₽
                                                </div>
                                            </a>
                                            <button
                                                type="button"
                                                class="cart-card__btn btn btn_primary btn_primary_i"
                                            >
                                                <svg class="btn__icon"><use href="#cart-svg"></use></svg>
                                            </button>
                                        </li>

                                        <li class="accordion-cart-item__slide cart-card swiper-slide">
                                            <a href="#" class="cart-card__inner">
                                                <div class="cart-card__image-wrap">
                                                    <img
                                                        class="cart-card__image"
                                                        src="./assets/images/items/710070.932x1242@2x.webp"
                                                        alt=""
                                                    />
                                                </div>
                                                <span class="cart-card__title txt20">Джемпер</span>
                                                <span class="cart-card__subtitle">укороченный</span>
                                                <div class="cart-card__price price">
                                                    <span class="price__value">2 500</span>₽
                                                </div>
                                            </a>
                                            <button
                                                type="button"
                                                class="cart-card__btn btn btn_primary btn_primary_i"
                                            >
                                                <svg class="btn__icon"><use href="#cart-svg"></use></svg>
                                            </button>
                                        </li>

                                        <li class="accordion-cart-item__slide cart-card swiper-slide">
                                            <a href="#" class="cart-card__inner">
                                                <div class="cart-card__image-wrap">
                                                    <img
                                                        class="cart-card__image"
                                                        src="./assets/images/items/710070.932x1242@2x.webp"
                                                        alt=""
                                                    />
                                                </div>
                                                <span class="cart-card__title txt20">Джемпер</span>
                                                <span class="cart-card__subtitle">укороченный</span>
                                                <div class="cart-card__price price">
                                                    <span class="price__value">2 500</span>₽
                                                </div>
                                            </a>
                                            <button
                                                type="button"
                                                class="cart-card__btn btn btn_primary btn_primary_i"
                                            >
                                                <svg class="btn__icon"><use href="#cart-svg"></use></svg>
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="accordion-cart-item__swiper-nav swiper-nav">
                                        <button type="button" class="swiper-nav__arr swiper-nav__arr_prev">
                                            <svg class="swiper-nav__arr-icon">
                                                <use href="#arr-left-svg"></use>
                                            </svg>
                                        </button>
                                        <button type="button" class="swiper-nav__arr swiper-nav__arr_next">
                                            <svg class="swiper-nav__arr-icon">
                                                <use href="#arr-left-svg"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart__not-available">
                    <span class="cart__subtitle txt20">Нет в наличии</span>
                    <div class="cart__item cart-item cart-item_not-available">
                        <div class="cart-item__content">
                            <div class="cart-item__checkbox option option_checkbox">
                                <input type="checkbox" class="option__input" />
                                <span class="option__txt"
                                    ><span class="_mobile-only">СТРЕЙЧЕВЫЙ ПИДЖАК</span></span
                                >
                            </div>
                            <div class="cart-item__info">
                                <a href="#" class="cart-item__image-wrap">
                                    <img
                                        class="cart-item__image"
                                        src="./assets/images/items/01608508450-e1.webp"
                                        alt=""
                                    />
                                </a>
                                <div class="cart-item__info-content">
                                    <a href="#" class="cart-item__subtitle h h_h3 _desktop-only"
                                        >СТРЕЙЧЕВЫЙ ПИДЖАК</a
                                    >
                                    <span class="cart-item__code">Арт. GNM145007</span>
                                    <ul class="cart-item__characteristics">
                                        <li class="cart-item__characteristic characteristic-cart-item">
                                            <span class="characteristic-cart-item__label">Цвет:</span>
                                            <span class="characteristic-cart-item__text">
                                                <span
                                                    style="background-color: #c69259"
                                                    class="characteristic-cart-item__color"
                                                ></span>
                                                <span class="characteristic-cart-item__text-content"
                                                    >Бежевый</span
                                                >
                                            </span>
                                        </li>
                                        <li class="cart-item__characteristic characteristic-cart-item">
                                            <span class="characteristic-cart-item__label">Размер:</span>
                                            <span class="characteristic-cart-item__text">
                                                <span class="characteristic-cart-item__text-content"
                                                    >124</span
                                                >
                                            </span>
                                        </li>
                                    </ul>
                                    <span class="cart-item__price price price_cart">
                                        <span class="price__value">140 000</span>
                                        <span class="price__symbol">₽</span>
                                    </span>
                                </div>
                                <div class="cart-item__actions">
                                    <div class="cart-item__quantity quantity">
                                        <button
                                            class="quantity__count quantity__count_minus"
                                            data-action="minus"
                                            type="button"
                                        >
                                            <svg class="quantity__count-icon">
                                                <use href="#minus-svg"></use>
                                            </svg>
                                        </button>
                                        <input
                                            class="quantity__input"
                                            type="number"
                                            min="0"
                                            max="10"
                                            value="1"
                                        />
                                        <button
                                            class="quantity__count quantity__count_add"
                                            data-action="add"
                                            type="button"
                                        >
                                            <svg class="quantity__count-icon">
                                                <use href="#plus-svg"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="cart-item__actions-group">
                                        <button class="cart-item__btn btn btn_i">
                                            <span class="btn__txt">В избранное</span>
                                            <svg class="btn__icon"><use href="#heart-svg"></use></svg>
                                        </button>
                                        <button class="cart-item__btn btn btn_i">
                                            <span class="btn__txt">Удалить</span>
                                            <svg class="btn__icon"><use href="#trash-svg"></use></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart__total total-cart">
                <div class="total-cart__head">
                    <span class="total-cart__title txt20">Ваш заказ</span>
                    <span class="total-cart__quantity">2 товара</span>
                </div>
                <div class="total-cart__body">
                    <ul class="total-cart__list">
                        <li class="total-cart__list-item">
                            <span class="total-cart__list-txt">Товары на сумму</span>
                            <span class="total-cart__list-price price price_cart">
                                <span class="price__value">140 000</span>
                                <span class="price__symbol">₽</span>
                            </span>
                        </li>
                        <li class="total-cart__list-item">
                            <span class="total-cart__list-txt">Скидка</span>
                            <span class="total-cart__list-price price price_cart">
                                <span class="price__value">140 000</span>
                                <span class="price__symbol">₽</span>
                            </span>
                        </li>
                    </ul>
                    <button type="button" class="total-cart__code-btn btn btn_secondary">
                        <span class="btn__txt">Ввести промокод</span>
                    </button>
                    <div class="total-cart__total">
                        <span class="total-cart__total-subtitle">Итого:</span>
                        <span class="total-cart__total-price price price_cart">
                            <span class="price__value">140 000</span>
                            <span class="price__symbol">₽</span>
                        </span>
                    </div>
                    <button type="button" class="total-cart__btn btn btn_primary">
                        <span class="btn__txt">Оформить заказ</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-widget">
        <div class="cart-widget__content">
            <span class="cart-widget__title">Итого:</span>
            <span class="cart-widget__price price"><span class="price__value">140 000 </span>₽</span>
        </div>
        <button type="button" class="cart-widget__btn btn btn_primary">
            <span class="btn__txt">Оформить заказ</span>
        </button>
    </div>
</section>