<section class="cart-no-items">
    <div class="cart-no-items__container container">
        <span class="cart-no-items__title">Корзина</span>
        <span class="cart-no-items__subtitle h h_h3">У вас еще нет товаров в корзине</span>
        <p class="cart-no-items__text">
            Используйте поиск или перейдите в каталог, что найти интересующие вас товары
        </p>
        <a href="#" class="cart-no-items__btn btn btn_primary">
            <span class="btn__txt">В каталог</span>
        </a>
    </div>
</section>
