<section class="catalog">
    <div class="catalog__container container">
        <div class="catalog__head">
            <div class="catalog__breadcrumbs breadcrumbs">
                <a href="#" class="breadcrumbs__txt breadcrumbs__txt_link">Главная</a>
                <span class="breadcrumbs__txt">Каталог</span>
            </div>
            <div class="catalog__row">
                <span class="catalog__title h h_h1">Каталог</span>
                <div data-da=".catalog__head,768,last" class="catalog__sort sort-catalog">
                    <button class="sort-catalog__btn btn btn_primary btn_primary_icon">
                        <svg class="btn__icon"><use href="#sort-svg"></use></svg>
                        <span class="btn__txt">Сортировка</span>
                    </button>
                    <div class="sort-catalog__menu">
                        <button class="sort-catalog__close-btn sort-catalog__btn">
                            <svg class="sort-catalog__close-btn-icon"><use href="#cross-svg"></use></svg>
                        </button>
                        <span class="sort-catalog__title h h_h3">СОРТИРОВКА</span>
                        <div class="sort-catalog__options">
                            <div class="sort-catalog__option-btn option-btn">
                                <input
                                    type="radio"
                                    checked
                                    name="catalogSortOption"
                                    class="option-btn__input"
                                />
                                <span class="option-btn__text">Новинки</span>
                            </div>
                            <div class="sort-catalog__option-btn option-btn">
                                <input type="radio" name="catalogSortOption" class="option-btn__input" />
                                <span class="option-btn__text">По возрастанию цены</span>
                            </div>
                            <div class="sort-catalog__option-btn option-btn">
                                <input type="radio" name="catalogSortOption" class="option-btn__input" />
                                <span class="option-btn__text">По убыванию цены</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="catalog__categories">
                <div class="catalog__categories-swiper swiper">
                    <ul class="catalog__categories-swiper-wrapper swiper-wrapper">
                        <li class="catalog__categories-slide swiper-slide option-btn option-btn_centered">
                            <input
                                type="radio"
                                checked
                                name="catalogCategoryOption-btn"
                                class="option-btn__input"
                            />
                            <span class="option-btn__text">Все</span>
                        </li>
                        <li class="catalog__categories-slide swiper-slide option-btn option-btn_centered">
                            <input type="radio" name="catalogCategoryOption-btn" class="option-btn__input" />
                            <span class="option-btn__text">Осень-зима</span>
                        </li>
                        <li class="catalog__categories-slide swiper-slide option-btn option-btn_centered">
                            <input type="radio" name="catalogCategoryOption-btn" class="option-btn__input" />
                            <span class="option-btn__text">Весна-лето</span>
                        </li>
                        <li class="catalog__categories-slide swiper-slide option-btn option-btn_centered">
                            <input type="radio" name="catalogCategoryOption-btn" class="option-btn__input" />
                            <span class="option-btn__text">Новогодняя коллекция</span>
                        </li>
                        <li class="catalog__categories-slide swiper-slide option-btn option-btn_centered">
                            <input type="radio" name="catalogCategoryOption-btn" class="option-btn__input" />
                            <span class="option-btn__text">Все</span>
                        </li>
                        <li class="catalog__categories-slide swiper-slide option-btn option-btn_centered">
                            <input type="radio" name="catalogCategoryOption-btn" class="option-btn__input" />
                            <span class="option-btn__text">Осень-зима</span>
                        </li>
                        <li class="catalog__categories-slide swiper-slide option-btn option-btn_centered">
                            <input type="radio" name="catalogCategoryOption-btn" class="option-btn__input" />
                            <span class="option-btn__text">Весна-лето</span>
                        </li>
                        <li class="catalog__categories-slide swiper-slide option-btn option-btn_centered">
                            <input type="radio" name="catalogCategoryOption-btn" class="option-btn__input" />
                            <span class="option-btn__text">Новогодняя коллекция</span>
                        </li>
                        <li class="catalog__categories-slide swiper-slide option-btn option-btn_centered">
                            <input type="radio" name="catalogCategoryOption-btn" class="option-btn__input" />
                            <span class="option-btn__text">Все</span>
                        </li>
                        <li class="catalog__categories-slide swiper-slide option-btn option-btn_centered">
                            <input type="radio" name="catalogCategoryOption-btn" class="option-btn__input" />
                            <span class="option-btn__text">Осень-зима</span>
                        </li>
                        <li class="catalog__categories-slide swiper-slide option-btn option-btn_centered">
                            <input type="radio" name="catalogCategoryOption-btn" class="option-btn__input" />
                            <span class="option-btn__text">Весна-лето</span>
                        </li>
                        <li class="catalog__categories-slide swiper-slide option-btn option-btn_centered">
                            <input type="radio" name="catalogCategoryOption-btn" class="option-btn__input" />
                            <span class="option-btn__text">Новогодняя коллекция</span>
                        </li>
                    </ul>
                </div>
                <div class="catalog__categories-swiper-nav swiper-nav">
                    <button type="button" class="swiper-nav__arr swiper-nav__arr_prev">
                        <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                    </button>
                    <button type="button" class="swiper-nav__arr swiper-nav__arr_next">
                        <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="catalog__body">
            <div class="catalog__message">
                <span class="catalog__subtitle h h_h3"> Ничего не найдено </span>
                <p class="catalog__text">Не нашли что искали?</p>
                <button type="button" class="catalog__btn btn btn_primary">
                    <span class="btn__txt">Не нашли что искали?</span>
                </button>
            </div>
        </div>
    </div>
</section>
