<section class="chapter-hero dark-bg">
    <div class="chapter-hero__swiper swiper">
        <ul class="chapter-hero__swiper-wrapper swiper-wrapper">
            <li class="chapter-hero__slide slide-chapter-hero swiper-slide">
                <div class="slide-chapter-hero__container container">
                    <div class="slide-chapter-hero__info info-chapter-hero">
                        <div class="info-chapter-hero__btn-wrap">
                            <button
                                type="button"
                                class="info-chapter-hero__btn btn btn_primary btn_primary_i"
                            >
                                <svg class="info-chapter-hero__btn-icon">
                                    <use href="#angle-arr-svg"></use>
                                </svg>
                                <svg class="info-chapter-hero__btn-icon info-chapter-hero__btn-icon_plus">
                                    <use href="#plus-svg"></use>
                                </svg>
                            </button>
                        </div>
                        <a href="#" class="info-chapter-hero__body">
                            <div class="info-chapter-hero__image-wrap">
                                <img
                                    class="info-chapter-hero__image"
                                    src="./assets/images/items/710070.932x1242@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="info-chapter-hero__content">
                                <span class="info-chapter-hero__title">Джемпер</span>
                                <span class="info-chapter-hero__subtitle">укороченный</span>
                                <div class="info-chapter-hero__price price">
                                    <span class="price__value">2500 </span>₽
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="slide-chapter-hero__images">
                        <div class="slide-chapter-hero__image-wrap slide-chapter-hero__image-wrap_has-bg">
                            <img
                                class="slide-chapter-hero__image"
                                src="./assets/images/bg/8943bffed1ac471adff4f71968e207b1.webp"
                                alt=""
                            />
                        </div>
                        <div class="slide-chapter-hero__image-wrap">
                            <img
                                class="slide-chapter-hero__image"
                                src="./assets/images/items/dd42f20a2ac9e0404e3a8d87c44bef3a.webp"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
            </li>
            <li class="chapter-hero__slide slide-chapter-hero swiper-slide">
                <div class="slide-chapter-hero__container container">
                    <div class="slide-chapter-hero__info info-chapter-hero">
                        <div class="info-chapter-hero__btn-wrap">
                            <button
                                type="button"
                                class="info-chapter-hero__btn btn btn_primary btn_primary_i"
                            >
                                <svg class="info-chapter-hero__btn-icon">
                                    <use href="#angle-arr-svg"></use>
                                </svg>
                                <svg class="info-chapter-hero__btn-icon info-chapter-hero__btn-icon_plus">
                                    <use href="#plus-svg"></use>
                                </svg>
                            </button>
                        </div>
                        <a href="#" class="info-chapter-hero__body">
                            <div class="info-chapter-hero__image-wrap">
                                <img
                                    class="info-chapter-hero__image"
                                    src="./assets/images/items/710070.932x1242@2x.webp"
                                    alt=""
                                />
                            </div>
                            <div class="info-chapter-hero__content">
                                <span class="info-chapter-hero__title">Джемпер</span>
                                <span class="info-chapter-hero__subtitle">укороченный</span>
                                <div class="info-chapter-hero__price price">
                                    <span class="price__value">2500 </span>₽
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="slide-chapter-hero__images">
                        <div class="slide-chapter-hero__image-wrap slide-chapter-hero__image-wrap_has-bg">
                            <img
                                class="slide-chapter-hero__image"
                                src="./assets/images/bg/8943bffed1ac471adff4f71968e207b1.webp"
                                alt=""
                            />
                        </div>
                        <div class="slide-chapter-hero__image-wrap">
                            <img
                                class="slide-chapter-hero__image"
                                src="./assets/images/items/dd42f20a2ac9e0404e3a8d87c44bef3a.webp"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="chapter-hero__container container">
        <div class="chapter-hero__titles titles-swiper swiper">
            <ul class="chapter-hero__titles-swiper-wrapper swiper-wrapper">
                <li class="chapter-hero__title-wrap title-wrap swiper-slide">
                    <span class="title-wrap__subtitle">Коллекция</span>
                    <div class="title-wrap__title">
                        <span class="title-wrap__title-txt h h_h1"><span>весна-</span></span>
                        <span class="title-wrap__title-txt h h_lora h_h1"><span>лето 2024</span></span>
                    </div>
                </li>
                <li class="chapter-hero__title-wrap title-wrap swiper-slide">
                    <span class="title-wrap__subtitle">Коллекция</span>
                    <div class="title-wrap__title">
                        <span class="title-wrap__title-txt h h_h1"><span>FAncy</span></span>
                        <span class="title-wrap__title-txt h h_lora h_h1"><span>denim</span></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="chapter-hero__navigation">
            <div class="chapter-hero__fraction fraction"></div>
            <div class="chapter-hero__swiper-nav swiper-nav swiper-nav_gray">
                <button type="button" class="swiper-nav__arr swiper-nav__arr_prev">
                    <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                </button>
                <button type="button" class="swiper-nav__arr swiper-nav__arr_next">
                    <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                </button>
            </div>
        </div>
    </div>
</section>
