<section class="faq">
    <div class="faq__container container">
        <div class="faq__content">
            <div class="faq__title-wrap title-wrap">
                <div class="title-wrap__title">
                    <span class="title-wrap__title-txt h h_h1">Вопросы</span>
                    <span class="title-wrap__title-txt h h_lora h_h1">ответы</span>
                </div>
            </div>
            <div class="faq__image-wrap">
                <img
                    class="faq__image"
                    src="./assets/images/content/505abe15ee49f5bed9042a31c30a2f38.webp"
                    alt=""
                />
            </div>
        </div>
        <div data-accordion data-accordion-single class="faq__accordion">
            <div class="faq__accordion-item accordion-item">
                <button type="button" data-accordion-item class="accordion-item__title _is-active">
                    <span class="accordion-item__title-txt">Как же стирать верхнюю одежду?</span>
                    <svg class="accordion-item__icon">
                        <use href="#arr-left-svg"></use>
                    </svg>
                </button>
                <div class="accordion-item__body">
                    <div class="accordion-item__text-wrap">
                        <p class="accordion-item__text">
                            Наши пуховые изделия хорошего качества, но все же рекомендуется придерживаться
                            некоторых правил, указанных на вшивном производственном ярлыке. Аккуратный и
                            бережный уход за ними, сохранит их качество надолго.
                        </p>
                        <p class="accordion-item__text">
                            Детским пуховым изделиям рекомендуется сухая чистка или же машинная стирка на
                            режиме деликатной стирки 30% с меньшим количеством оборотов. Сушильную машинку мы
                            не рекомендуем, изделие высушивается самостоятельно, а затем «взбивается пух».
                        </p>
                        <p class="accordion-item__text">
                            Внимание! Мех перед химчисткой и стиркой отстегивается!
                        </p>
                        <p class="accordion-item__text">
                            Конверты и комбенизоны чистятся по такому же принципу.
                        </p>
                    </div>
                </div>
            </div>
            <div class="faq__accordion-item accordion-item">
                <button type="button" data-accordion-item class="accordion-item__title">
                    <span class="accordion-item__title-txt">Как вы доставляете заказы?</span>

                    <svg class="accordion-item__icon">
                        <use href="#arr-left-svg"></use>
                    </svg>
                </button>
                <div class="accordion-item__body">
                    <div class="accordion-item__text-wrap">
                        <p class="accordion-item__text">
                            Наши пуховые изделия хорошего качества, но все же рекомендуется придерживаться
                            некоторых правил, указанных на вшивном производственном ярлыке. Аккуратный и
                            бережный уход за ними, сохранит их качество надолго.
                        </p>
                        <p class="accordion-item__text">
                            Детским пуховым изделиям рекомендуется сухая чистка или же машинная стирка на
                            режиме деликатной стирки 30% с меньшим количеством оборотов. Сушильную машинку мы
                            не рекомендуем, изделие высушивается самостоятельно, а затем «взбивается пух».
                        </p>
                        <p class="accordion-item__text">
                            Внимание! Мех перед химчисткой и стиркой отстегивается!
                        </p>
                        <p class="accordion-item__text">
                            Конверты и комбенизоны чистятся по такому же принципу.
                        </p>
                    </div>
                </div>
            </div>
            <div class="faq__accordion-item accordion-item">
                <button type="button" data-accordion-item class="accordion-item__title">
                    <span class="accordion-item__title-txt">Как же стирать верхнюю одежду?</span>

                    <svg class="accordion-item__icon">
                        <use href="#arr-left-svg"></use>
                    </svg>
                </button>
                <div class="accordion-item__body">
                    <div class="accordion-item__text-wrap">
                        <p class="accordion-item__text">
                            Наши пуховые изделия хорошего качества, но все же рекомендуется придерживаться
                            некоторых правил, указанных на вшивном производственном ярлыке. Аккуратный и
                            бережный уход за ними, сохранит их качество надолго.
                        </p>
                        <p class="accordion-item__text">
                            Детским пуховым изделиям рекомендуется сухая чистка или же машинная стирка на
                            режиме деликатной стирки 30% с меньшим количеством оборотов. Сушильную машинку мы
                            не рекомендуем, изделие высушивается самостоятельно, а затем «взбивается пух».
                        </p>
                        <p class="accordion-item__text">
                            Внимание! Мех перед химчисткой и стиркой отстегивается!
                        </p>
                        <p class="accordion-item__text">
                            Конверты и комбенизоны чистятся по такому же принципу.
                        </p>
                    </div>
                </div>
            </div>
            <div class="faq__accordion-item accordion-item">
                <button type="button" data-accordion-item class="accordion-item__title">
                    <span class="accordion-item__title-txt">Как вы доставляете заказы?</span>

                    <svg class="accordion-item__icon">
                        <use href="#arr-left-svg"></use>
                    </svg>
                </button>
                <div class="accordion-item__body">
                    <div class="accordion-item__text-wrap">
                        <p class="accordion-item__text">
                            Наши пуховые изделия хорошего качества, но все же рекомендуется придерживаться
                            некоторых правил, указанных на вшивном производственном ярлыке. Аккуратный и
                            бережный уход за ними, сохранит их качество надолго.
                        </p>
                        <p class="accordion-item__text">
                            Детским пуховым изделиям рекомендуется сухая чистка или же машинная стирка на
                            режиме деликатной стирки 30% с меньшим количеством оборотов. Сушильную машинку мы
                            не рекомендуем, изделие высушивается самостоятельно, а затем «взбивается пух».
                        </p>
                        <p class="accordion-item__text">
                            Внимание! Мех перед химчисткой и стиркой отстегивается!
                        </p>
                        <p class="accordion-item__text">
                            Конверты и комбенизоны чистятся по такому же принципу.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
