<section class="fw-title">
    <div class="fw-title__container container">
        <div class="fw-title__title-image-wrap _desktop-only">
            <img class="fw-title__title-image" src="./assets/images/title.svg" alt="" />
        </div>
        <span class="fw-title__title _mobile-only"> <span>simple</span> <span>choice</span> </span>
    </div>
    <div class="fw-title__images">
        <div class="fw-title__image-wrap">
            <img class="fw-title__image" src="./assets/images/content/06048512402-400-a1.webp" alt="" />
        </div>
        <div class="fw-title__image-wrap">
            <img class="fw-title__image" src="./assets/images/content/01381559712-e3.webp" alt="" />
        </div>
        <div class="fw-title__image-wrap">
            <img class="fw-title__image" src="./assets/images/content/06048525086-e3.webp" alt="" />
        </div>
        <div class="fw-title__image-wrap">
            <img class="fw-title__image" src="./assets/images/content/02756627080400-p.webp" alt="" />
        </div>
    </div>
</section>
