<div class="header__header-cart-widget header-cart-widget">
    <div class="header-cart-widget__head">
        <span class="header-cart-widget__title h h_h3">Корзина</span>
        <span class="header-cart-widget__quantity">2 товара</span>
    </div>
    <div data-sb class="header-cart-widget__body">
        <div class="header-cart-widget__item item-header-cart-widget">
            <a href="#" class="item-header-cart-widget__image-wrap">
                <img
                    class="item-header-cart-widget__image"
                    src="./assets/images/items/707164.932x1242@2x.webp"
                    alt=""
                />
            </a>

            <div class="item-header-cart-widget__title-wrap">
                <a href="#" class="item-header-cart-widget__title">Платье с перьями</a>
                <button type="button" class="item-header-cart-widget__remove-btn">
                    <svg class="item-header-cart-widget__remove-btn-icon">
                        <use href="#cross-svg"></use>
                    </svg>
                </button>
            </div>
            <ul class="item-header-cart-widget__characteristics">
                <li class="item-header-cart-widget__characteristic characteristic-item-header-cart-widget">
                    <span class="characteristic-item-header-cart-widget__title">Цвет:</span>
                    <div
                        style="background-color: #eac8bd"
                        class="characteristic-item-header-cart-widget__color"
                    ></div>
                </li>
                <li class="item-header-cart-widget__characteristic characteristic-item-header-cart-widget">
                    <span class="characteristic-item-header-cart-widget__title">Размер:</span>
                    <div class="characteristic-item-header-cart-widget__text">124</div>
                </li>
                <li class="item-header-cart-widget__characteristic characteristic-item-header-cart-widget">
                    <span class="characteristic-item-header-cart-widget__title">Кол-во:</span>
                    <div class="characteristic-item-header-cart-widget__text">1 шт</div>
                </li>
            </ul>
            <div class="item-header-cart-widget__footer">
                <div class="item-header-cart-widget__price price price_cart">
                    <span class="price__value">140 000</span>
                    <span class="price__symbol">₽</span>
                </div>
                <div class="item-header-cart-widget__quantity quantity">
                    <button class="quantity__count quantity__count_minus" data-action="minus" type="button">
                        <svg class="quantity__count-icon">
                            <use href="#minus-svg"></use>
                        </svg>
                    </button>
                    <input class="quantity__input" type="number" min="0" value="1" />
                    <button class="quantity__count quantity__count_add" data-action="add" type="button">
                        <svg class="quantity__count-icon">
                            <use href="#plus-svg"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="header-cart-widget__item item-header-cart-widget">
            <a href="#" class="item-header-cart-widget__image-wrap">
                <img
                    class="item-header-cart-widget__image"
                    src="./assets/images/items/01608508450-e1.webp"
                    alt=""
                />
            </a>
            <div class="item-header-cart-widget__title-wrap">
                <a href="#" class="item-header-cart-widget__title">СТРЕЙЧЕВЫЙ ПИДЖАК ДВУБОРТНЫЙ</a>
                <button type="button" class="item-header-cart-widget__remove-btn">
                    <svg class="item-header-cart-widget__remove-btn-icon">
                        <use href="#cross-svg"></use>
                    </svg>
                </button>
            </div>
            <ul class="item-header-cart-widget__characteristics">
                <li class="item-header-cart-widget__characteristic characteristic-item-header-cart-widget">
                    <span class="characteristic-item-header-cart-widget__title">Цвет:</span>
                    <div
                        style="background-color: #c69259"
                        class="characteristic-item-header-cart-widget__color"
                    ></div>
                </li>
                <li class="item-header-cart-widget__characteristic characteristic-item-header-cart-widget">
                    <span class="characteristic-item-header-cart-widget__title">Размер:</span>
                    <div class="characteristic-item-header-cart-widget__text">124</div>
                </li>
                <li class="item-header-cart-widget__characteristic characteristic-item-header-cart-widget">
                    <span class="characteristic-item-header-cart-widget__title">Кол-во:</span>
                    <div class="characteristic-item-header-cart-widget__text">1 шт</div>
                </li>
            </ul>
            <div class="item-header-cart-widget__footer">
                <div class="item-header-cart-widget__price price price_cart">
                    <span class="price__value">140 000</span>
                    <span class="price__symbol">₽</span>
                </div>
                <div class="item-header-cart-widget__quantity quantity">
                    <button class="quantity__count quantity__count_minus" data-action="minus" type="button">
                        <svg class="quantity__count-icon">
                            <use href="#minus-svg"></use>
                        </svg>
                    </button>
                    <input class="quantity__input" type="number" min="0" value="1" />
                    <button class="quantity__count quantity__count_add" data-action="add" type="button">
                        <svg class="quantity__count-icon">
                            <use href="#plus-svg"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="header-cart-widget__item item-header-cart-widget">
            <a href="#" class="item-header-cart-widget__image-wrap">
                <img
                    class="item-header-cart-widget__image"
                    src="./assets/images/items/707164.932x1242@2x.webp"
                    alt=""
                />
            </a>
            <div class="item-header-cart-widget__title-wrap">
                <a href="#" class="item-header-cart-widget__title">Платье с перьями</a>
                <button type="button" class="item-header-cart-widget__remove-btn">
                    <svg class="item-header-cart-widget__remove-btn-icon">
                        <use href="#cross-svg"></use>
                    </svg>
                </button>
            </div>
            <ul class="item-header-cart-widget__characteristics">
                <li class="item-header-cart-widget__characteristic characteristic-item-header-cart-widget">
                    <span class="characteristic-item-header-cart-widget__title">Цвет:</span>
                    <div
                        style="background-color: #eac8bd"
                        class="characteristic-item-header-cart-widget__color"
                    ></div>
                </li>
                <li class="item-header-cart-widget__characteristic characteristic-item-header-cart-widget">
                    <span class="characteristic-item-header-cart-widget__title">Размер:</span>
                    <div class="characteristic-item-header-cart-widget__text">124</div>
                </li>
                <li class="item-header-cart-widget__characteristic characteristic-item-header-cart-widget">
                    <span class="characteristic-item-header-cart-widget__title">Кол-во:</span>
                    <div class="characteristic-item-header-cart-widget__text">1 шт</div>
                </li>
            </ul>
            <div class="item-header-cart-widget__footer">
                <div class="item-header-cart-widget__price price price_cart">
                    <span class="price__value">140 000</span>
                    <span class="price__symbol">₽</span>
                </div>
                <div class="item-header-cart-widget__quantity quantity">
                    <button class="quantity__count quantity__count_minus" data-action="minus" type="button">
                        <svg class="quantity__count-icon">
                            <use href="#minus-svg"></use>
                        </svg>
                    </button>
                    <input class="quantity__input" type="number" min="0" value="1" />
                    <button class="quantity__count quantity__count_add" data-action="add" type="button">
                        <svg class="quantity__count-icon">
                            <use href="#plus-svg"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="header-cart-widget__btn btn btn_primary">
        <span class="btn__txt">Перейти в корзину</span>
    </a>
</div>
