<section class="hero">
    <div class="hero__swiper swiper">
        <ul class="hero__swiper-wrapper swiper-wrapper">
            <li class="hero__slide slide-hero swiper-slide">
                <div class="slide-hero__container container">
                    <a href="#" class="slide-hero__info info-slide-hero">
                        <div class="info-slide-hero__image-wrap">
                            <img
                                class="info-slide-hero__image"
                                src="./assets/images/content/cfa1cdaa056f260496e12659b73a5972.webp"
                                alt=""
                            />
                        </div>
                        <div class="info-slide-hero__content">
                            <span class="info-slide-hero__text">непринужденная элегантность и классика </span>
                        </div>
                        <button type="button" class="info-slide-hero__btn btn btn_primary btn_primary_i">
                            <svg>
                                <use href="#angle-arr-svg"></use>
                            </svg>
                        </button>
                    </a>
                    <a href="#" class="slide-hero__preview preview-slide-hero">
                        <div class="preview-slide-hero__inner">
                            <button type="button" class="preview-slide-hero__btn btn btn_primary">
                                <span class="btn__txt">Смотреть</span>
                            </button>
                            <span class="preview-slide-hero__label">new</span>
                            <div class="preview-slide-hero__image-wrap">
                                <img
                                    class="preview-slide-hero__image"
                                    src="./assets/images/content/0a09fa50b35ac7cfcccf3e63ee7bbabe.webp"
                                    alt=""
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slide-hero__bg-wrap">
                    <img
                        class="slide-hero__bg"
                        src="./assets/images/bg/a3d26434fb635b977e833a1c5127d942.webp"
                        alt=""
                    />
                </div>
            </li>
            <li class="hero__slide slide-hero swiper-slide">
                <div class="slide-hero__container container">
                    <a href="#" class="slide-hero__info info-slide-hero">
                        <div class="info-slide-hero__image-wrap">
                            <img
                                class="info-slide-hero__image"
                                src="./assets/images/content/4580a72443cb2ea406f0564e05016930.webp"
                                alt=""
                            />
                        </div>
                        <div class="info-slide-hero__content">
                            <span class="info-slide-hero__text"
                                >коллекция цветного и принтованного денима</span
                            >
                        </div>
                        <button type="button" class="info-slide-hero__btn btn btn_primary btn_primary_i">
                            <svg>
                                <use href="#angle-arr-svg"></use>
                            </svg>
                        </button>
                    </a>
                    <a href="#" class="slide-hero__preview preview-slide-hero">
                        <div class="preview-slide-hero__inner">
                            <button type="button" class="preview-slide-hero__btn btn btn_primary">
                                <span class="btn__txt">Смотреть</span>
                            </button>
                            <span class="preview-slide-hero__label">new</span>
                            <div class="preview-slide-hero__image-wrap">
                                <img
                                    class="preview-slide-hero__image"
                                    src="./assets/images/content/4911a2af040fdb60fec68d39fdcf19cf5a4951cb.webp"
                                    alt=""
                                />
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slide-hero__bg-wrap">
                    <img
                        class="slide-hero__bg"
                        src="./assets/images/bg/b56c37e7017820d9aae19cd84ce4795a.webp"
                        alt=""
                    />
                </div>
            </li>
        </ul>
    </div>
    <div class="hero__container container">
        <div class="hero__titles swiper">
            <ul class="hero__titles-swiper-wrapper swiper-wrapper">
                <li class="hero__title-wrap title-wrap swiper-slide">
                    <span class="title-wrap__subtitle">Коллекция</span>
                    <div class="title-wrap__title">
                        <span class="title-wrap__title-txt h h_h1"><span>preppy</span></span>
                        <span class="title-wrap__title-txt h h_lora h_h1"><span>family</span></span>
                    </div>
                </li>
                <li class="hero__title-wrap title-wrap swiper-slide">
                    <span class="title-wrap__subtitle">Коллекция</span>
                    <div class="title-wrap__title">
                        <span class="title-wrap__title-txt h h_h1"><span>FAncy</span></span>
                        <span class="title-wrap__title-txt h h_lora h_h1"><span>denim</span></span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="hero__navigation">
            <div class="hero__fraction fraction"></div>
            <div class="hero__swiper-nav swiper-nav">
                <button type="button" class="swiper-nav__arr swiper-nav__arr_prev">
                    <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                </button>
                <button type="button" class="swiper-nav__arr swiper-nav__arr_next">
                    <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                </button>
            </div>
        </div>
    </div>
</section>
