<section class="lookbook dark-bg">
    <div class="lookbook__container container">
        <div class="lookbook__content">
            <span data-da=".lookbook__footer,768,first" class="lookbook__fraction fraction"></span>
            <div class="lookbook__titles titles-swiper swiper">
                <ul class="lookbook__titles-swiper-wrapper swiper-wrapper">
                    <li class="lookbook__title-wrap title-wrap swiper-slide">
                        <span class="title-wrap__subtitle">lookbook</span>
                        <div class="title-wrap__title">
                            <span class="title-wrap__title-txt h h_h1"><span>preppy</span></span>
                            <span class="title-wrap__title-txt h h_lora h_h1"><span>family</span></span>
                        </div>
                    </li>
                    <li class="lookbook__title-wrap title-wrap swiper-slide">
                        <span class="title-wrap__subtitle">lookbook</span>
                        <div class="title-wrap__title">
                            <span class="title-wrap__title-txt h h_h1"><span>FAncy</span></span>
                            <span class="title-wrap__title-txt h h_lora h_h1"><span>denim</span></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="lookbook__footer">
                <a href="#" class="lookbook__btn btn btn_primary">
                    <span class="btn__txt">Подробнее</span>
                </a>
                <div class="lookbook__swiper-nav swiper-nav swiper-nav_gray">
                    <button type="button" class="swiper-nav__arr swiper-nav__arr_prev">
                        <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                    </button>
                    <button type="button" class="swiper-nav__arr swiper-nav__arr_next">
                        <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="lookbook__swiper swiper">
        <ul class="lookbook__swiper-wrapper swiper-wrapper">
            <li class="lookbook__slide slide-lookbook swiper-slide">
                <div class="slide-lookbook__container container">
                    <div class="slide-lookbook__image-wrap">
                        <img
                            class="slide-lookbook__image"
                            src="./assets/images/content/desktop_4@2x.webp"
                            alt=""
                        />
                    </div>
                </div>
                <div class="slide-lookbook__bg-wrap">
                    <img
                        class="slide-lookbook__bg"
                        src="./assets/images/bg/a3d26434fb635b977e833a1c5127d942.webp"
                        alt=""
                    />
                </div>
            </li>
            <li class="lookbook__slide slide-lookbook swiper-slide">
                <div class="slide-lookbook__container container">
                    <div class="slide-lookbook__image-wrap">
                        <img
                            class="slide-lookbook__image"
                            src="./assets/images/content/feb12ec186c933e1debd0e8f51528162.webp"
                            alt=""
                        />
                    </div>
                </div>
                <div class="slide-lookbook__bg-wrap">
                    <img
                        class="slide-lookbook__bg"
                        src="./assets/images/bg/b56c37e7017820d9aae19cd84ce4795a.webp"
                        alt=""
                    />
                </div>
            </li>
        </ul>
    </div>
</section>
