<section class="news">
    <div class="news__container container">
        <div class="news__head">
            <div class="news__fraction fraction"></div>
            <span class="news__title h h_h1">Новости</span>
            <div class="news__swiper-nav swiper-nav">
                <button type="button" class="swiper-nav__arr swiper-nav__arr_prev">
                    <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                </button>
                <button type="button" class="swiper-nav__arr swiper-nav__arr_next">
                    <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                </button>
            </div>
            <span class="news__cursive decorate">новое о важном </span>
        </div>
        <div class="news__body">
            <div class="news__swiper swiper">
                <ul class="news__swiper-wrapper swiper-wrapper">
                    <li class="news__slide slide-news swiper-slide">
                        <div class="slide-news__column slide-news__column_left">
                            <span class="slide-news__title"
                                ><span class="slide-news__title-txt"
                                    >Новое поступление верхней одежды</span
                                ></span
                            >
                            <span class="slide-news__subtitle"
                                ><span class="slide-news__subtitle-txt">поступление одежды</span></span
                            >
                            <time datetime="2024-04-12" class="slide-news__date">12.04.2024</time>
                        </div>
                        <div class="slide-news__image-wrap">
                            <img
                                class="slide-news__image"
                                src="./assets/images/content/040fdb60fec68d39fdcf19cf5a4951cb.webp"
                                alt=""
                            />
                        </div>
                        <div class="slide-news__column slide-news__column_right">
                            <p class="slide-news__text">
                                История создания изделия Simple Choice начинается с ткани. Ощущение, текстура,
                                цвет, тренд – это вектора, которые направляют на создание великолепных
                                изделий. История создания изделия Simple Choice начинается с ткани. Ощущение,
                                текстура, цвет, тренд – это вектора, которые направляют на создание
                                великолепных изделий. История создания изделия Simple Choice начинается с
                                ткани. Ощущение, текстура, цвет, тренд – это вектора, которые направляют на
                                создание великолепных изделий.
                            </p>
                            <div class="slide-news__btn-wrap">
                                <a href="#" class="slide-news__btn btn btn_primary">
                                    <span class="btn__txt">Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="news__slide slide-news swiper-slide">
                        <div class="slide-news__column slide-news__column_left">
                            <span class="slide-news__title"
                                ><span class="slide-news__title-txt">мероприятие в нашем магазине</span></span
                            >
                            <span class="slide-news__subtitle"
                                ><span class="slide-news__subtitle-txt">афиша мероприятий</span></span
                            >
                            <time datetime="2024-05-24" class="slide-news__date">24.05.2024</time>
                        </div>
                        <div class="slide-news__image-wrap">
                            <img
                                class="slide-news__image"
                                src="./assets/images/content/desktop_4@2x.webp"
                                alt=""
                            />
                        </div>
                        <div class="slide-news__column slide-news__column_right">
                            <p class="slide-news__text">
                                История создания изделия Simple Choice начинается с ткани. Ощущение, текстура,
                                цвет, тренд – это вектора, которые направляют на создание великолепных
                                изделий. История создания изделия Simple Choice начинается с ткани. Ощущение,
                                текстура, цвет, тренд – это вектора, которые направляют на создание
                                великолепных изделий. История создания изделия Simple Choice начинается с
                                ткани. Ощущение, текстура, цвет, тренд – это вектора, которые направляют на
                                создание великолепных изделий.
                            </p>
                            <div class="slide-news__btn-wrap">
                                <a href="#" class="slide-news__btn btn btn_primary">
                                    <span class="btn__txt">Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
