<section class="product-data">
    <div class="container">
        <div class="product-data__wrapper">
            <div class="product-data__swiper swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="product-data__box">
                            <div class="product-data__box-title">Состав и уход</div>
                            <div class="product-data__box-wrap">
                                <div class="product-data__box-content">
                                    <strong>Состав:</strong>
                                    <p>57% вискоза, 36% полиэстер, 7% эластан, Подкладка: 55% вискоза, Подкладка: 45%
                                        полиэстер</p>
                                </div>
                                <div class="product-data__box-content">
                                    <strong>Уход:</strong>
                                    <p>Комплект можно стирать в машинке: бережная стирка при 30 градусах, отжим на низких
                                        оборотах. Небольшие загрязнения удаляются влажной тканью.</p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-data__box">
                            <div class="product-data__box-title">Описание</div>
                            <div class="product-data__box-wrap">
                                <div class="product-data__box-content">
                                    <ul>
                                        <li>Карман на молнии впереди</li>
                                        <li>Зеркальная бирка</li>
                                        <li>Внутренняя вставка с логотипом</li>
                                        <li>Расцветка Beluga Grey</li>
                                        <li>Основное отделение</li>
                                        <li>Изготовленный из высококачественного </li>
                                        <li>материала, пиджак обеспечивает комфорт и свободу движений для вашего ребенка в
                                            любой ситуации. Лёгкая ткань позволяет коже дышать, обеспечивая оптимальный
                                            комфорт в течение всего дня.</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="product-data__box">
                            <div class="product-data__box-title">Доставка</div>
                            <div class="product-data__box-wrap">
                                <div class="product-data__box-content">
                                    <strong>Курьером:</strong>
                                    <p>Наш надежный курьер оперативно доставит ваш товар в удобное для вас время.</p>
                                </div>
                                <div class="product-data__box-content">
                                    <strong>Транспортная компания:</strong>
                                    <p>Мы работаем с надежными партнерами, гарантирующими быструю и безопасную доставку по всей стране.</p>
                                </div>
                                <div class="product-data__box-content">
                                    <strong>Стоимость:</strong>
                                    <ul>
                                        <li>СПб и 20 км от КАД - бесплатно</li>
                                        <li>дальше 20 км от КАД - 350₽</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-data__pagination">
            <span class="product-data__fraction fraction"></span>
            <div class="product-data__swiper-nav swiper-nav">
                <button type="button" class="swiper-nav__arr swiper-nav__arr_prev">
                    <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                </button>
                <button type="button" class="swiper-nav__arr swiper-nav__arr_next">
                    <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                </button>
            </div>
        </div>
    </div>
</section>