<section class="reviews">
    <div class="reviews__container container">
        <div class="reviews__content">
            <span class="reviews__fraction fraction"></span>
            <div class="reviews__title-wrap title-wrap">
                <span class="title-wrap__subtitle">отзывы</span>
                <div class="title-wrap__title">
                    <span class="title-wrap__title-txt h h_h1">обратная</span>
                    <span class="title-wrap__title-txt h h_lora h_h1">связь</span>
                </div>
            </div>
            <div class="reviews__group">
                <div class="reviews__buttons">
                    <a href="#" class="reviews__btn btn btn_primary">
                        <span class="btn__txt">Все отзывы</span>
                    </a>
                    <button type="button" class="reviews__btn btn btn_primary btn_primary_ghost">
                        <span class="btn__txt">Оставить отзыв</span>
                    </button>
                </div>
                <div class="reviews__swiper-nav swiper-nav swiper-nav_gray">
                    <button type="button" class="swiper-nav__arr swiper-nav__arr_prev">
                        <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                    </button>
                    <button type="button" class="swiper-nav__arr swiper-nav__arr_next">
                        <svg class="swiper-nav__arr-icon"><use href="#arr-left-svg"></use></svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="reviews__carousel">
            <div class="reviews__swiper swiper">
                <ul class="reviews__swiper-wrapper swiper-wrapper">
                    <li class="reviews__slide review-card review-card_blank swiper-slide"></li>
                    <li class="reviews__slide review-card swiper-slide">
                        <div class="review-card__inner">
                            <p class="review-card__text">
                                Добрый день! приобретали у вас джинсовую куртку для ребенка давно. Сейчас уже
                                второму ребенку она перешла по наследству. Качество просто супер! Никаких
                                потертостей за все это время. Много и других вещей у вас покупали и ни к
                                одному из них нет вообще вопросов. После стирки вещи не садятся и не теряют
                                цвет. В общем и мы и дети очень довольны, спасибо!
                            </p>
                            <div class="review-card__content">
                                <div class="review-card__image-wrap">
                                    <img
                                        class="review-card__image"
                                        src="./assets/images/content/4ca03df1cfa1cdaa056f260496e12659b73a5972.webp"
                                        alt=""
                                    />
                                </div>
                                <div class="review-card__info">
                                    <span class="review-card__title">Иванова Ольга</span>
                                    <div class="review-card__group">
                                        <div class="review-card__rating rating">
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <time datetime="2024-04-12" class="review-card__date"
                                            >12.04.2024</time
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="reviews__slide review-card review-card_blank swiper-slide"></li>
                </ul>
            </div>
            <div class="reviews__swiper swiper">
                <ul class="reviews__swiper-wrapper swiper-wrapper">
                    <li class="reviews__slide review-card review-card_blank swiper-slide"></li>
                    <li class="reviews__slide review-card swiper-slide">
                        <div class="review-card__inner">
                            <p class="review-card__text">
                                Добрый день! приобретали у вас джинсовую куртку для ребенка давно. Сейчас уже
                                второму ребенку она перешла по наследству. Качество просто супер! Никаких
                                потертостей за все это время. Много и других вещей у вас покупали и ни к
                                одному из них нет вообще вопросов. После стирки вещи не садятся и не теряют
                                цвет. В общем и мы и дети очень довольны, спасибо!
                            </p>
                            <div class="review-card__content">
                                <div class="review-card__image-wrap">
                                    <img
                                        class="review-card__image"
                                        src="./assets/images/content/4ca03df1cfa1cdaa056f260496e12659b73a5972.webp"
                                        alt=""
                                    />
                                </div>
                                <div class="review-card__info">
                                    <span class="review-card__title">Иванова Ольга</span>
                                    <div class="review-card__group">
                                        <div class="review-card__rating rating">
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <time datetime="2024-04-12" class="review-card__date"
                                            >12.04.2024</time
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="reviews__slide review-card swiper-slide">
                        <div class="review-card__inner">
                            <p class="review-card__text">
                                Добрый день! приобретали у вас джинсовую куртку для ребенка давно. Сейчас уже
                                второму ребенку она перешла по наследству. Качество просто супер! Никаких
                                потертостей за все это время. Много и других вещей у вас покупали и ни к
                                одному из них нет вообще вопросов. После стирки вещи не садятся и не теряют
                                цвет. В общем и мы и дети очень довольны, спасибо!
                            </p>
                            <div class="review-card__content">
                                <div class="review-card__image-wrap">
                                    <img
                                        class="review-card__image"
                                        src="./assets/images/content/4ca03df1cfa1cdaa056f260496e12659b73a5972.webp"
                                        alt=""
                                    />
                                </div>
                                <div class="review-card__info">
                                    <span class="review-card__title">Иванова Ольга</span>
                                    <div class="review-card__group">
                                        <div class="review-card__rating rating">
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                            <div class="rating__item">
                                                <svg class="rating__icon">
                                                    <use href="#star-full-svg"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <time datetime="2024-04-12" class="review-card__date"
                                            >12.04.2024</time
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="reviews__slide review-card review-card_blank swiper-slide"></li>
                </ul>
            </div>
            <div class="reviews__swiper swiper">
                <ul class="reviews__swiper-wrapper swiper-wrapper">
                    <li class="reviews__slide review-card review-card_blank swiper-slide"></li>
                    <li class="reviews__slide review-card review-card_blank swiper-slide"></li>
                    <li class="reviews__slide review-card review-card_blank swiper-slide"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
