<div class="size-table">
    <!-- <div class="size-table__dropdown dropdown">
        <select data-sel-hint="Рост не выбран" data-sel-label="Рост ребенка" data-show-selection>
            <option value="1">92см</option>
            <option value="2">92см</option>
            <option value="3">92см</option>
            <option value="4">92см</option>
        </select>
    </div> -->
    <div class="size-table__table">
        <div class="size-table__row">
            <p class="size-table__row-title txt18 txt18_bold">Размер/<br>Рост (см)</p>
            <ul class="size-table__row-list">
                <li class="size-table__row-item txt18">92</li>
                <li class="size-table__row-item txt18">92</li>
                <li class="size-table__row-item txt18">92</li>
                <li class="size-table__row-item txt18">92</li>
                <li class="size-table__row-item txt18">92</li>
            </ul>
        </div>
        <!-- <div class="size-table__row">
            <p class="size-table__row-title txt18 txt18_bold">Возраст</p>
            <ul class="size-table__row-list">
                <li class="size-table__row-item txt18">2-3</li>
                <li class="size-table__row-item txt18">2-3</li>
                <li class="size-table__row-item txt18">2-3</li>
                <li class="size-table__row-item txt18">2-3</li>
                <li class="size-table__row-item txt18">2-3</li>
            </ul>
        </div> -->
        <div class="size-table__row">
            <p class="size-table__row-title txt18 txt18_bold">Обхват <br>груди (см)</p>
            <ul class="size-table__row-list">
                <li class="size-table__row-item txt18">54.5-55.5</li>
                <li class="size-table__row-item txt18">54.5-55.5</li>
                <li class="size-table__row-item txt18">54.5-55.5</li>
                <li class="size-table__row-item txt18">54.5-55.5</li>
                <li class="size-table__row-item txt18">54.5-55.5</li>
            </ul>
        </div>
        <div class="size-table__row">
            <p class="size-table__row-title txt18 txt18_bold">Обхват <br>талии (см)</p>
            <ul class="size-table__row-list">
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">51-52</li>
            </ul>
        </div>
        <!-- <div class="size-table__row">
            <p class="size-table__row-title txt18 txt18_bold">Длина <br>по спине (см)</p>
            <ul class="size-table__row-list">
                <li class="size-table__row-item txt18">54.5-55.5</li>
                <li class="size-table__row-item txt18">54.5-55.5</li>
                <li class="size-table__row-item txt18">54.5-55.5</li>
                <li class="size-table__row-item txt18">54.5-55.5</li>
                <li class="size-table__row-item txt18">54.5-55.5</li>
            </ul>
        </div> -->
        <div class="size-table__row">
            <p class="size-table__row-title txt18 txt18_bold">Обхват <br>бедер (см)</p>
            <ul class="size-table__row-list">
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">540.5-550.5 </li>
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">51-52</li>
            </ul>
        </div>
        <div class="size-table__row">
            <p class="size-table__row-title txt18 txt18_bold">Длина <br>изделия (см)</p>
            <ul class="size-table__row-list">
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">51-52</li>
            
            </ul>
        </div>
        <div class="size-table__row">
            <p class="size-table__row-title txt18 txt18_bold">Длина  <br>рукава (см)</p>
            <ul class="size-table__row-list">
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">51-52</li>
                <li class="size-table__row-item txt18">51-52</li>
            </ul>
        </div>
    </div>
</div>
