<section class="the-model">
    <div class="container">
        <div class="the-model__wrapper">
            <div class="the-model__left">
                <div class="the-model__title h h_h2">На модели</div>
                <div class="the-model__inner">
                    <button class="the-model__btn-size">Таблица размеров</button>
                    <div class="the-model__text">Рост модели: 185 см. на модели — размер 36</div>
                </div>
                <div class="the-model__description">
                    Изготовленный из высококачественного материала, пиджак обеспечивает комфорт и свободу движений для вашего ребенка в любой ситуации. Лёгкая ткань позволяет коже дышать, обеспечивая оптимальный комфорт в течение всего дня.
                </div>
            </div>
            <div class="the-model__right">
                <div class="the-model__swiper swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="the-model__image">
                                <img src="./assets/images/the-modal/modal1.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="the-model__image">
                                <img src="./assets/images/the-modal/modal1.webp" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="the-model__image">
                                <img src="./assets/images/the-modal/modal1.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>