<footer class="footer">
    <div class="footer__container container">
        <div class="footer__main">
            <a href="/" class="footer__logo-wrap"
                ><img class="footer__logo" src="./assets/images/logo-blue.svg" alt=""
            /></a>
            <nav class="footer__nav">
                <a href="#" class="footer__nav-link">Каталог</a>
                <a href="#" class="footer__nav-link">Отзывы</a>
                <a href="#" class="footer__nav-link">Доставка и оплата</a>
                <a href="#" class="footer__nav-link">Lookbook</a>
                <a href="#" class="footer__nav-link">Новости</a>
                <a href="#" class="footer__nav-link">Возврат</a>
                <a href="#" class="footer__nav-link">О нас</a>
                <a href="#" class="footer__nav-link">Контакты</a>
                <a href="#" class="footer__nav-link">Вопросы-ответы</a>
            </nav>
            <ul class="footer__contacts-list list-contacts">
                <li class="list-contacts__item">
                    <span class="list-contacts__subtitle">телефон</span>
                    <a href="tel:79030075671" class="list-contacts__text">+7 (903) 007-56-71</a>
                </li>
                <li class="list-contacts__item">
                    <span class="list-contacts__subtitle">e-mail</span>
                    <a href="mailto:simplechoice@mail.ru" class="list-contacts__text">simplechoice@mail.ru</a>
                </li>
            </ul>
        </div>
        <div class="footer__lower">
            <ul class="footer__socials socials-footer">
                <li class="socials-footer__item">
                    <a href="#" target="_blank" class="socials-footer__inner i-btn">
                        <svg>
                            <use href="#ig-svg"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials-footer__item">
                    <a href="#" target="_blank" class="socials-footer__inner i-btn">
                        <svg>
                            <use href="#vk-svg"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials-footer__item">
                    <a href="#" target="_blank" class="socials-footer__inner i-btn">
                        <svg>
                            <use href="#whatsapp-svg"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials-footer__item">
                    <a href="#" target="_blank" class="socials-footer__inner i-btn">
                        <svg>
                            <use href="#telegram-svg"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="footer__copyrights">
                <a href="#" class="footer__copyrights-txt">Политика конфиденциальности</a>
                <a href="#" class="footer__copyrights-txt"
                    >Общие условия и согласие на обработку персональных данных</a
                >
            </div>
            <a href="https://requestdesign.ru/" class="footer__rd-logo-wrap">
                <img class="footer__rd-logo" src="./assets/images/rd-logo.svg" alt="" />
            </a>
        </div>
    </div>
</footer>
