<header class="header header_compact _ignore-scroll">
    <div class="header__container container">
        <a href="#" class="header__link link link_left">
            <svg class="link__icon"><use href="#arr-left-svg"></use></svg>
            <span class="link__txt">Вернуться к покупкам</span>
        </a>
        <a href="/" class="header__logo-wrap">
            <svg class="header__logo-icon">
                <use href="#logo-svg"></use>
            </svg> </a
        ><button type="button" class="header__actions-item hamburger _mobile-only">
            <svg class="header__actions-icon">
                <use href="#hamburger-svg"></use>
            </svg>
        </button>
    </div>
    <div class="header__menu menu-header">
        <button type="button" class="menu-header__close-btn hamburger">
            <svg class="menu-header__close-btn-icon"><use href="#cross-svg"></use></svg>
        </button>
        <a href="#" class="menu-header__logo-wrap">
            <img class="menu-header__logo" src="./assets/images/logo-blue.svg" alt="" />
        </a>
        <div class="menu-header__nav-wrap">
            <nav class="header__nav">
                <a href="#" class="header__nav-link">Каталог</a>
                <a href="#" class="header__nav-link">Lookbook</a>
                <a href="#" class="header__nav-link">О нас</a>
                <a href="#" class="header__nav-link">Отзывы</a>
                <a href="#" class="header__nav-link">Новости</a>
                <a href="#" class="header__nav-link">Контакты</a>
                <a href="#" class="header__nav-link _mobile-only">Доставка и оплата</a>
                <a href="#" class="header__nav-link _mobile-only">Возврат</a>
                <a href="#" class="header__nav-link _mobile-only">Вопросы-ответы</a>
            </nav>
        </div>
        <div class="menu-header__footer">
            <ul class="menu-header__list">
                <li class="menu-header__list-item">
                    <a href="tel:79030075671" class="menu-header__list-item-txt">+7 (903) 007-56-71</a>
                </li>
                <li class="menu-header__list-item">
                    <a href="mailto:simplechoice@mail.ru" class="menu-header__list-item-txt"
                        >simplechoice@mail.ru</a
                    >
                </li>
            </ul>
            <ul class="menu-header__socials">
                <li class="menu-header__socials-item">
                    <a href="#" target="_blank" class="menu-header__socials-item-icon i-btn">
                        <svg>
                            <use href="#ig-svg"></use>
                        </svg>
                    </a>
                </li>
                <li class="menu-header__socials-item">
                    <a href="#" target="_blank" class="menu-header__socials-item-icon i-btn">
                        <svg>
                            <use href="#vk-svg"></use>
                        </svg>
                    </a>
                </li>
                <li class="menu-header__socials-item">
                    <a href="#" target="_blank" class="menu-header__socials-item-icon i-btn">
                        <svg>
                            <use href="#whatsapp-svg"></use>
                        </svg>
                    </a>
                </li>
                <li class="menu-header__socials-item">
                    <a href="#" target="_blank" class="menu-header__socials-item-icon i-btn">
                        <svg>
                            <use href="#telegram-svg"></use></svg
                    ></a>
                </li>
            </ul>
        </div>
    </div>
</header>
