<!-- обратная связь -->
<div id="feedbackModal" aria-hidden="true" class="modal modal_feedback modal_fw">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner feedback-modal">
                    <span class="feedback-modal__title">Обратная связь</span>
                    <form action="#" data-dev class="feedback-modal__form">
                        <div class="feedback-modal__fields">
                            <div data-hint="Заполните поле" class="feedback-modal__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder="Ваше имя*"
                                    class="input__field"
                                />
                            </div>
                            <div data-hint="Заполните поле" class="feedback-modal__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder="Телефон или почта*"
                                    class="input__field"
                                />
                            </div>
                            <div class="feedback-modal__field feedback-modal__field_large input">
                                <input
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder="Название товара"
                                    class="input__field"
                                />
                            </div>
                        </div>
                        <div class="feedback-modal__group">
                            <span class="feedback-modal__subtitle">Выберите нужный цвет</span>
                            <div class="feedback-modal__colors">
                                <div class="feedback-modal__color color">
                                    <input type="radio" name="feedbackColorOption" class="color__input" />
                                    <span style="background-color: #f3fe78" class="color__inner"></span>
                                </div>
                                <div class="feedback-modal__color color">
                                    <input type="radio" name="feedbackColorOption" class="color__input" />
                                    <span style="background-color: #ff533b" class="color__inner"></span>
                                </div>
                                <div class="feedback-modal__color color">
                                    <input type="radio" name="feedbackColorOption" class="color__input" />
                                    <span style="background-color: #c69259" class="color__inner"></span>
                                </div>
                                <div class="feedback-modal__color color">
                                    <input
                                        checked
                                        type="radio"
                                        name="feedback-modalColor"
                                        class="color__input"
                                    />
                                    <span style="background-color: #ffffff" class="color__inner"></span>
                                </div>
                                <div class="feedback-modal__color color">
                                    <input type="radio" name="feedbackColorOption" class="color__input" />
                                    <span style="background-color: #7ba8d1" class="color__inner"></span>
                                </div>
                                <div class="feedback-modal__color color">
                                    <input type="radio" name="feedbackColorOption" class="color__input" />
                                    <span style="background-color: #ff6fa3" class="color__inner"></span>
                                </div>
                                <div class="feedback-modal__color color">
                                    <input type="radio" name="feedbackColorOption" class="color__input" />
                                    <span style="background-color: #88b884" class="color__inner"></span>
                                </div>
                                <div class="feedback-modal__color color">
                                    <input type="radio" name="feedbackColorOption" class="color__input" />
                                    <span style="background-color: #9e84b8" class="color__inner"></span>
                                </div>
                                <div class="feedback-modal__color color">
                                    <input type="radio" name="feedbackColorOption" class="color__input" />
                                    <span style="background-color: #7a787d" class="color__inner"></span>
                                </div>
                                <div class="feedback-modal__color color">
                                    <input type="radio" name="feedbackColorOption" class="color__input" />
                                    <span style="background-color: #403d43" class="color__inner"></span>
                                </div>
                            </div>
                        </div>
                        <div class="feedback-modal__group">
                            <span class="feedback-modal__subtitle">Укажите размер</span>
                            <div class="feedback-modal__sizes">
                                <div class="feedback-modal__size">
                                    <input
                                        checked
                                        type="radio"
                                        name="feedbackSizeOption"
                                        class="feedback-modal__size-input"
                                    />
                                    <span class="feedback-modal__size-txt">98</span>
                                </div>
                                <div class="feedback-modal__size">
                                    <input
                                        type="radio"
                                        name="feedbackSizeOption"
                                        class="feedback-modal__size-input"
                                    />
                                    <span class="feedback-modal__size-txt">104</span>
                                </div>
                                <div class="feedback-modal__size">
                                    <input
                                        type="radio"
                                        name="feedbackSizeOption"
                                        class="feedback-modal__size-input"
                                    />
                                    <span class="feedback-modal__size-txt">110</span>
                                </div>
                                <div class="feedback-modal__size">
                                    <input
                                        type="radio"
                                        name="feedbackSizeOption"
                                        class="feedback-modal__size-input"
                                    />
                                    <span class="feedback-modal__size-txt">114</span>
                                </div>
                                <div class="feedback-modal__size">
                                    <input
                                        type="radio"
                                        name="feedbackSizeOption"
                                        class="feedback-modal__size-input"
                                    />
                                    <span class="feedback-modal__size-txt">118</span>
                                </div>
                                <div class="feedback-modal__size">
                                    <input
                                        type="radio"
                                        name="feedbackSizeOption"
                                        class="feedback-modal__size-input"
                                    />
                                    <span class="feedback-modal__size-txt">124</span>
                                </div>
                                <div class="feedback-modal__size">
                                    <input
                                        type="radio"
                                        name="feedbackSizeOption"
                                        class="feedback-modal__size-input"
                                    />
                                    <span class="feedback-modal__size-txt">130</span>
                                </div>
                                <div class="feedback-modal__size">
                                    <input
                                        type="radio"
                                        name="feedbackSizeOption"
                                        class="feedback-modal__size-input"
                                    />
                                    <span class="feedback-modal__size-txt">136</span>
                                </div>
                                <div class="feedback-modal__size">
                                    <input
                                        type="radio"
                                        name="feedbackSizeOption"
                                        class="feedback-modal__size-input"
                                    />
                                    <span class="feedback-modal__size-txt">142</span>
                                </div>
                                <div class="feedback-modal__size">
                                    <input
                                        type="radio"
                                        name="feedbackSizeOption"
                                        class="feedback-modal__size-input"
                                    />
                                    <span class="feedback-modal__size-txt">148</span>
                                </div>
                                <div class="feedback-modal__size">
                                    <input
                                        type="radio"
                                        name="feedbackSizeOption"
                                        class="feedback-modal__size-input"
                                    />
                                    <span class="feedback-modal__size-txt">154</span>
                                </div>
                                <div class="feedback-modal__size">
                                    <input
                                        type="radio"
                                        name="feedbackSizeOption"
                                        class="feedback-modal__size-input"
                                    />
                                    <span class="feedback-modal__size-txt">160</span>
                                </div>
                                <div class="feedback-modal__size">
                                    <input
                                        type="radio"
                                        name="feedbackSizeOption"
                                        class="feedback-modal__size-input"
                                    />
                                    <span class="feedback-modal__size-txt">164</span>
                                </div>
                            </div>
                        </div>
                        <div data-hint="Заполните поле" class="feedback-modal__field input">
                            <input
                                data-validate
                                data-required
                                autocomplete="off"
                                type="text"
                                name="form[]"
                                placeholder="Добавьте комментарий*"
                                class="input__field"
                            />
                        </div>
                        <div class="feedback-modal__footer">
                            <button type="submit" class="feedback-modal__btn btn btn_primary _is-disabled">
                                <span class="btn__txt">Отправить</span>
                            </button>
                            <p class="feedback-modal__text">
                                Нажимая на кнопку, Вы принимаете условия пользовательского соглашения
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- форма отправлена -->
<div id="formSentModal" aria-hidden="true" class="modal modal_form-sent">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner info-modal">
                    <span class="info-modal__title h h_h3">Форма отправлена!</span>
                    <p class="info-modal__text">Спасибо, что поделились своими пожеланиями.</p>
                    <a href="/" class="info-modal__btn btn btn_primary">
                        <span class="btn__txt">Перейти на главную</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- заказ оформлен -->
<div id="orderModal" aria-hidden="true" class="modal modal_order">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner info-modal">
                    <span class="info-modal__title h h_h3">заказ оформлен!</span>
                    <a href="#" class="info-modal__link btn btn_secondary">
                        <span class="btn__txt">Ознакомьтесь с правилами ухода</span>
                    </a>
                    <a href="/" class="info-modal__btn btn btn_primary">
                        <span class="btn__txt">Перейти на главную</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- редактировать адрес -->
<div id="editAddressModal" aria-hidden="true" class="modal modal_edit-address">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <form action="#" data-dev class="modal__inner edit-address-modal">
                    <span class="edit-address-modal__title h h_h3">Редактировать адрес</span>
                    <div class="edit-address-modal__fields">
                        <div class="edit-address-modal__field dropdown">
                            <span class="dropdown__label">Ваш адрес:</span>
                            <select data-sel-label="Ваш город" data-show-selection>
                                <option value="1">Москва</option>
                                <option value="2">Москва</option>
                                <option value="3">Москва</option>
                                <option value="4">Москва</option>
                            </select>
                        </div>
                        <div data-hint="Заполните поле" class="edit-address-modal__field input">
                            <input
                                data-validate
                                data-required
                                autocomplete="off"
                                type="text"
                                name="form[]"
                                placeholder="Улица"
                                class="input__field"
                            />
                        </div>
                        <div class="edit-address-modal__fields-row">
                            <div data-hint="Заполните поле" class="edit-address-modal__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder="Номер дома"
                                    class="input__field"
                                />
                            </div>
                            <div data-hint="Заполните поле" class="edit-address-modal__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder="Подъезд"
                                    class="input__field"
                                />
                            </div>
                            <div data-hint="Заполните поле" class="edit-address-modal__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder="Номер квартиры"
                                    class="input__field"
                                />
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="edit-address-modal__btn btn btn_primary">
                        <span class="btn__txt">Сохранить</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- изменение номера  -->
<div id="changePhoneModal" aria-hidden="true" class="modal modal_change">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner modal_change__inner">
                    <div class="modal_change__title-box">
                        <span class="modal_change__title h h_h3">Введите новый номер</span>
                        <p class="modal_change__text txt16">
                            Введите новый контактный номер телефона. <br />Вам поступит СМС с кодом.
                        </p>
                    </div>
                    <form data-modal-message="#codePhoneModal" action="" data-dev class="modal_change__form">
                        <div class="modal_change__fields">
                            <div data-hint="Заполните поле" class="modal_change__field input">
                                <input
                                    data-validate
                                    data-required
                                    data-tel-mask
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder="Телефон"
                                    class="input__field"
                                />
                            </div>
                        </div>

                        <button type="submit" class="modal_change__btn btn btn_primary _is-disabled">
                            <span class="btn__txt">Получить код</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- изменение почты -->
<div id="changeMailModal" aria-hidden="true" class="modal modal_change">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner modal_change__inner">
                    <div class="modal_change__title-box">
                        <span class="modal_change__title h h_h3"
                            >Введите новый <br class="_mobile-only" />E-mail</span
                        >
                        <p class="modal_change__text txt16">
                            Введите новый адрес электронной почты. <br />Вам поступит СМС с кодом.
                        </p>
                    </div>
                    <form data-modal-message="#codeMailModal" action="#" data-dev class="modal_change__form">
                        <div class="modal_change__fields">
                            <div data-hint="Заполните поле" class="modal_change__field input">
                                <input
                                    data-validate
                                    data-required="email"
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder="E-mail"
                                    class="input__field"
                                />
                            </div>
                        </div>

                        <button type="submit" class="modal_change__btn btn btn_primary _is-disabled">
                            <span class="btn__txt">Получить код</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Изменение изображения -->
<div id="changeImageModal" aria-hidden="true" class="modal modal_form-sent">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner info-modal">
                    <span class="info-modal__title h h_h3">Изменить изображение</span>
                    <p class="info-modal__text">
                        Вы можете загрузить изображение в формате JPG или PNG и весом не более 10 МБ.
                    </p>
                    <label class="info-modal__label">
                        <span class="info-modal__btn btn btn_primary">Выбрать файл </span>
                        <input class="info-modal__input-file" type="file" name="" id="" />
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Изображение загружено -->
<div id="imageUploadedModal" aria-hidden="true" class="modal modal_form-sent">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner info-modal">
                    <span class="info-modal__title h h_h3">изображение загружено</span>
                    <p class="info-modal__text">Ваше фото профиля успешно изменено</p>
                    <a href="/" data-close class="info-modal__btn btn btn_primary">
                        <span class="btn__txt">Вернуться в личный кабинет</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Изображение не загружено -->
<div id="imageUnUploadedModal" aria-hidden="true" class="modal modal_form-sent">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner info-modal">
                    <span class="info-modal__title h h_h3">Ваше изображение <br />не загружено</span>
                    <p class="info-modal__text">
                        Убедитесь, что ваше изображение соответствует формату JPG или PNG и не превышает 10 МБ
                    </p>
                    <label class="info-modal__label">
                        <span class="info-modal__btn btn btn_primary">Выбрать файл </span>
                        <input class="info-modal__input-file" type="file" name="" id="" />
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Номер изменен -->
<div id="phoneChangedModal" aria-hidden="true" class="modal modal_form-sent">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner info-modal">
                    <span class="info-modal__title h h_h3">Номер успешно изменен</span>
                    <p class="info-modal__text">Ваш новый контактный номер телефона успешно изменен</p>
                    <a data-close href="/" class="info-modal__btn btn btn_primary">
                        <span class="btn__txt">Вернуться в личный кабинет</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Почта изменена -->
<div id="mailChangedModal" aria-hidden="true" class="modal modal_form-sent">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner info-modal">
                    <span class="info-modal__title h h_h3">E-mail успешно изменен</span>
                    <p class="info-modal__text">Ваш новый адрес электронной почты успешно изменен</p>
                    <a data-close href="/" class="info-modal__btn btn btn_primary">
                        <span class="btn__txt">Вернуться в личный кабинет</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Отмена заказа -->
<div id="cancellationsModal" aria-hidden="true" class="modal modal_form-sent">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner info-modal">
                    <span class="info-modal__title h h_h3">Отмена заказа</span>
                    <p class="info-modal__text">
                        Вы точно хотите отменить заказ? Изменить действие уже будет невозможно
                    </p>
                    <a href="/" data-close class="info-modal__btn btn btn_primary">
                        <span class="btn__txt">Отменить заказ</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Удаление аккаунта -->
<div id="accountDeletingModal" aria-hidden="true" class="modal modal_form-sent">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner info-modal">
                    <span class="info-modal__title h h_h3">Вы действительно хотите удалить аккаунт?</span>
                    <p class="info-modal__text">После удаления аккаунта все данные будут утеряны</p>
                    <a href="/" data-close class="info-modal__btn btn btn_primary">
                        <span class="btn__txt">Удалить аккаунт</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Выход из аккаунта -->
<div id="accountLogoutModal" aria-hidden="true" class="modal modal_form-sent">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner info-modal">
                    <span class="info-modal__title h h_h3">Вы действительно хотите выйти?</span>
                    <p class="info-modal__text">
                        После выхода из аккаунта необходимо будет повторно пройти авторизацию
                    </p>
                    <a href="/" data-close class="info-modal__btn btn btn_primary">
                        <span class="btn__txt">Выйти из аккаунта</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- код телефон  -->
<div id="codePhoneModal" aria-hidden="true" class="modal modal_code">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner modal_code__inner">
                    <div class="modal_code__title-box">
                        <span class="modal_code__title h h_h3">Введите код</span>
                        <div class="modal_code__text-box">
                            <p class="modal_code__text txt16">
                                Укажите код из СМС на номер <span>+7(900)000-00-00</span>
                            </p>
                            <a
                                href="#"
                                data-modal="#changePhoneModal"
                                class="modal_code__link btn btn_secondary"
                            >
                                <span class="btn__txt">Изменить номер</span>
                            </a>
                        </div>
                    </div>
                    <form
                        data-modal-message="#phoneChangedModal"
                        action=""
                        data-dev
                        class="modal_code__form modal_code__form--phone"
                    >
                        <div class="modal_code__fields">
                            <div class="modal_code__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder=""
                                    class="input__field popup__fields-num"
                                />
                            </div>
                            <div class="modal_code__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder=""
                                    class="input__field popup__fields-num"
                                />
                            </div>
                            <div class="modal_code__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder=""
                                    class="input__field popup__fields-num"
                                />
                            </div>
                            <div class="modal_code__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder=""
                                    class="input__field popup__fields-num"
                                />
                            </div>

                            <p class="modal_code__field-error ">Неверный код</p>
                            <!-- isActive - класс активации текста ошибки -->
                        </div>
                        <div class="modal_code__btn-box">
                            <button type="submit" class="modal_code__btn btn btn_primary _is-disabled">
                                <span class="btn__txt">Запросить код повторно через 0:55 </span>
                            </button>
                            <a
                                href="#"
                                data-modal="#noCodePhoneModal"
                                class="modal_code__link btn btn_secondary"
                            >
                                <span class="btn__txt">Не приходит СМС с кодом?</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- код почта -->
<div id="codeMailModal" aria-hidden="true" class="modal modal_code">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner modal_code__inner">
                    <div class="modal_code__title-box">
                        <span class="modal_code__title h h_h3">Введите код</span>
                        <div class="modal_code__text-box">
                            <p class="modal_code__text txt16">
                                Укажите код из сообщения, отправленного на почту.
                            </p>
                            <a
                                href="#"
                                data-modal="#changeMailModal"
                                class="modal_code__link btn btn_secondary"
                            >
                                <span class="btn__txt">Изменить e-mail</span>
                            </a>
                        </div>
                    </div>
                    <form
                        data-modal-message="#mailChangedModal"
                        action=""
                        data-dev
                        class="modal_code__form modal_code__form--mail"
                    >
                        <div class="modal_code__fields">
                            <div class="modal_code__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder=""
                                    class="input__field popup__fields-num"
                                />
                            </div>
                            <div class="modal_code__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder=""
                                    class="input__field popup__fields-num"
                                />
                            </div>
                            <div class="modal_code__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder=""
                                    class="input__field popup__fields-num"
                                />
                            </div>
                            <div class="modal_code__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder=""
                                    class="input__field popup__fields-num"
                                />
                            </div>
                            <p class="modal_code__field-error ">Неверный код</p>
                            <!-- isActive - класс активации текста ошибки -->
                        </div>
                        <div class="modal_code__btn-box">
                            <button type="submit" class="modal_code__btn btn btn_primary _is-disabled">
                                <span class="btn__txt">Запросить код повторно через 0:55 </span>
                            </button>
                            <a
                                href="#"
                                data-modal="#noCodeMailModal"
                                class="modal_code__link btn btn_secondary"
                            >
                                <span class="btn__txt">Не приходит СМС с кодом?</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- не приходит код телефон  -->

<div id="noCodePhoneModal" aria-hidden="true" class="modal modal_form-sent">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner no-code-modal">
                    <span class="no-code-modal__title h h_h3">Не поступает смс <br>
                        с кодом?</span>
                    <div class="no-code-modal__text-wrapper">
                        <p class="no-code-modal__text">Если вы столкнулись с проблемой неполучения SMS-кода, есть несколько шагов, которые можно предпринять:</p>
                        <ul class="no-code-modal__list">
                            <li class="no-code-modal__item">
                                <p class="no-code-modal__num">1.</p>
                                <p class="no-code-modal__desc"><span>Проверьте правильность номера телефона.</span> Убедитесь, что вы указали правильный номер телефона в настройках вашего профиля.</p>
                            </li>
                            <li class="no-code-modal__item">
                                <p class="no-code-modal__num">2.</p>
                                <p class="no-code-modal__desc">
                                    <span>Проверьте соединение с сетью.</span> Убедитесь, что у вас хорошее соединение с мобильной сетью, так как плохая связь может привести к задержкам в доставке SMS.</p>
                            </li>
                          
                            <li class="no-code-modal__item">
                                <p class="no-code-modal__num">3.</p>
                                <p class="no-code-modal__desc">
                                    <span>Проверьте папку «Спам»</span> Иногда SMS-коды могут попадать в папку со спамом. Пожалуйста, проверьте эту папку в вашем мобильном устройстве.</p>
                            </li>
                            <li class="no-code-modal__item">
                                <p class="no-code-modal__num">4.</p>
                                <p class="no-code-modal__desc">
                                    <span> Попробуйте еще раз.</span>
                                    В случае отсутствия SMS-кода, попробуйте запросить его повторно.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- не приходит код почта  -->

<div id="noCodeMailModal" aria-hidden="true" class="modal modal_form-sent">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner no-code-modal">
                    <span class="no-code-modal__title h h_h3">Не поступает сообщение <br>
                        с кодом?</span>
                    <div class="no-code-modal__text-wrapper">
                        <p class="no-code-modal__text">Если вы столкнулись с проблемой неполучения SMS-кода, есть несколько шагов, которые можно предпринять:</p>
                        <ul class="no-code-modal__list">
                            <li class="no-code-modal__item">
                                <p class="no-code-modal__num">1.</p>
                                <p class="no-code-modal__desc"><span>Проверьте правильность адреса электронной почты.</span>  Убедитесь, что вы указали правильный адрес электронной почты в настройках вашего профиля.</p>
                            </li>
                            <li class="no-code-modal__item">
                                <p class="no-code-modal__num">2.</p>
                                <p class="no-code-modal__desc">
                                    <span>Проверьте соединение с сетью.</span> Убедитесь, что у вас хорошее соединение с мобильной сетью, так как плохая связь может привести к задержкам в доставке SMS.</p>
                            </li>
                          
                            <li class="no-code-modal__item">
                                <p class="no-code-modal__num">3.</p>
                                <p class="no-code-modal__desc">
                                    <span>Проверьте папку «Спам»</span> Иногда SMS-коды могут попадать в папку со спамом. Пожалуйста, проверьте эту папку в вашем мобильном устройстве.</p>
                            </li>
                            <li class="no-code-modal__item">
                                <p class="no-code-modal__num">4.</p>
                                <p class="no-code-modal__desc">
                                    <span> Попробуйте еще раз.</span>
                                    В случае отсутствия SMS-кода, попробуйте запросить его повторно.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Войти -->
<div id="loginModal" aria-hidden="true" class="modal modal_form-sent">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner login-modal">
                  
                    <p class="login-modal__text">Войдите, чтобы получить доступ к избранным товарам, возможности сохранять товары и оформлять
                        заказы</p>
                    <a data-modal="#loginPhoneModal" href="/" class="login-modal__btn btn btn_primary">
                        <span class="btn__txt">Войти или зарегистрироваться</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- войти тел -->
<div id="loginPhoneModal" aria-hidden="true" class="modal modal_change">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner modal_change__inner">
                    <div class="modal_change__title-box">
                        <span class="modal_change__title h h_h3">Войти</span>
                        <p class="modal_change__text txt16">
                            Введите новый контактный номер телефона. <br />Вам поступит СМС с кодом.
                        </p>
                    </div>
                    <form data-modal-message="#codeLoginModal" action="" data-dev class="modal_change__form">
                        <div class="modal_change__fields">
                            <div data-hint="Заполните поле" class="modal_change__field input">
                                <input
                                    data-validate
                                    data-required
                                    data-tel-mask
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder="Телефон"
                                    class="input__field"
                                />
                            </div>
                        </div>

                        <button type="submit" class="modal_change__btn btn btn_primary _is-disabled">
                            <span class="btn__txt">Получить код</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- код вход -->
<div id="codeLoginModal" aria-hidden="true" class="modal modal_code">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__body">
                <button data-close type="button" class="modal__close">
                    <svg class="modal__close-icon"><use href="#cross-svg"></use></svg>
                </button>
                <div class="modal__inner modal_code__inner">
                    <div class="modal_code__title-box">
                        <span class="modal_code__title h h_h3">Введите код</span>
                        <div class="modal_code__text-box">
                            <p class="modal_code__text txt16">
                                Укажите код из СМС на номер <span>+7(900)000-00-00</span>
                            </p>
                            <a
                                href="#"
                                data-modal="#changePhoneModal"
                                class="modal_code__link btn btn_secondary"
                            >
                                <span class="btn__txt">Изменить номер</span>
                            </a>
                        </div>
                    </div>
                    <form
                        data-modal-message=""
                        action=""
                        data-dev
                        class="modal_code__form modal_code__form--login"
                    >
                        <div class="modal_code__fields">
                            <div class="modal_code__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder=""
                                    class="input__field popup__fields-num"
                                />
                            </div>
                            <div class="modal_code__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder=""
                                    class="input__field popup__fields-num"
                                />
                            </div>
                            <div class="modal_code__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder=""
                                    class="input__field popup__fields-num"
                                />
                            </div>
                            <div class="modal_code__field input">
                                <input
                                    data-validate
                                    data-required
                                    autocomplete="off"
                                    type="text"
                                    name="form[]"
                                    placeholder=""
                                    class="input__field popup__fields-num"
                                />
                            </div>

                            <p class="modal_code__field-error ">Неверный код</p>
                            <!-- isActive - класс активации текста ошибки -->
                        </div>
                        <div class="modal_code__btn-box">
                            <button type="submit" class="modal_code__btn btn btn_primary _is-disabled">
                                <span class="btn__txt">Запросить код повторно через 0:55 </span>
                            </button>
                            <a
                                href="#"
                                data-modal="#noCodePhoneModal"
                                class="modal_code__link btn btn_secondary"
                            >
                                <span class="btn__txt">Не приходит СМС с кодом?</span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>